<!DOCTYPE html>
{% load i18n compress %}
{% load staticfiles %}
<!--[if lt IE 7]>      <html lang="{{ LANGUAGE_CODE|default:"vi" }}" class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html lang="{{ LANGUAGE_CODE|default:"vi" }}" class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html lang="{{ LANGUAGE_CODE|default:"vi" }}" class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<html lang="{{ LANGUAGE_CODE|default:"vi" }}" class="no-js"> <!--<![endif]-->
<head>
    <title>{% if display_version %}[{% trans "Build" %} {{ version }}] {% endif %}{% block title %}{{ shop_name }} -
        {{ shop_tagline }}{% endblock %}</title>

    <meta http-equiv="content-type" content="text/html; charset=UTF-8"/>
    <meta name="created" content="{% now "jS M Y h:i" %}"/>
    <meta name="description" content="{% block description %}{% endblock %}"/>
    <meta name="keywords" content="{% block keywords %}{% endblock %}"/>
    <meta name="viewport" content="{% block viewport %}width=device-width, initial-scale=1{% endblock %}"/>
    <meta name="robots" content="NOARCHIVE,NOCACHE"/>

    <!-- Le HTML5 shim, for IE6-8 support of HTML elements -->
    <!--[if lt IE 9]>
        <script src="//html5shim.googlecode.com/svn/trunk/html5.js"></script>
        <![endif]-->

    {% block favicon %}
        <link rel="shortcut icon" type="image/png" href="{% static "binhphuoc/favicon.ico" %}"/>
    {% endblock %}
    <!--[if lt IE 9]>
             <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
             <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
           <![endif]-->
    {% block mainstyles %}
        {% comment %}
            We use an inner block to work-around the fact that django-compressor doesn't work with
            template inheritance.  Ie, we can't just wrap the {% block mainstyles %} with compress tags and
            expect it to compress CSS files added in child templates.
            {% endcomment %}
        {% block styles %}
            {% comment %}
                If you are developing Oscar's CSS, or overriding Oscar's CSS
                files in your project, then set USE_LESS = True in your
                settings file.  You will also need to ensure that the 'lessc'
                executable is available and you have COMPRESS_PRECOMPILERS specified
                correctly.
                {% endcomment %}
        {% endblock %}
    {% endblock %}



    {# Additional CSS - specific to certain pages #}
    {% block extrastyles %}{% endblock %}

    {% block extrahead %}{% endblock %}

    {#        {% block tracking %}#}
    {# Default to using Google analytics #}
    {#            {% include "partials/google_analytics.html" %}#}
    {#        {% endblock %}#}
</head>

<body id="{% block body_id %}{% endblock %}" class="{% block body_class %}{% endblock %}">

{# Main content goes in this 'layout' block #}
{% block layout %}{% endblock %}

{# Local scripts #}
{% block scripts %}
    <script type="text/javascript" src="{% static "binhphuoc/js/vendor/jquery.min.js" %}"></script>
    <script type="text/javascript" src="{% static "binhphuoc/js/popper.min.js" %}"></script>
    <script type="text/javascript" src="{% static "binhphuoc/js/bootstrap.min.js" %}"></script>
    <script type="text/javascript" src="{% static "binhphuoc/js/plugins.js" %}"></script>
    <script type="text/javascript" src="{% static "binhphuoc/js/main.js" %}"></script>
    <script type="text/javascript" src="{% static "binhphuoc/js/ui.js" %}"></script>
{% endblock %}

{% block extrascripts %}{% endblock %}

{# Block for body onload functions #}
<script type="text/javascript">
    $(function () {
        {% block onbodyload %}{% endblock %}
    });
</script>

{# Page meta-data - this is populated by the 'metadata' template context processor #}
<!-- {% trans "Version:" %} {{ version }} -->
</body>
</html>
