{% extends "binhphuoc/layout.html" %}
{% load promotion_tags %}
{% load i18n %}
{% load staticfiles %}
{% load thumbnail %}
{% load v_history_tags %}
{% load request_tag %}
{% load currency_filters %}
{% load v_category_tags %}

{% block layout %}

    <header>
        {# Top-horizontal bar with account, notifictions, dashboard links #}
        {% include "binhphuoc/partials/top_header.html" %}
        {% include "binhphuoc/partials/nav_primary.html" %}
    </header>

    <div class="hero-slider-with-category-container mb-35">
        <div class="container">
            <div class="row">
                <div class="col-lg-3 col-md-12">
                    {% category_tree depth=1 as tree_categories %}
                    {% if tree_categories %}
                        <div class="hero-side-category">
                            <!-- Category Toggle Wrap -->
                            <div class="category-toggle-wrap">
                                <!-- Category Toggle -->
                                <button class="category-toggle"><span class="arrow_carrot-right_alt2 mr-2"></span>Danh
                                    mục sản phẩm
                                </button>
                            </div>
                            <nav class="category-menu">
                                <ul>
                                    {% for tree_category,info in tree_categories %}
                                        <li class="text-uppercase {% if tree_category.get_active_children %}menu-item-has-children{% endif %} {% if forloop.counter > 8 %}hidden{% endif %}">
                                            <a href="{{ tree_category.get_absolute_url }}">{{ tree_category.name }}</a>
                                            {% if tree_category.get_active_children %}
                                                <ul class="category-mega-menu">
                                                    {% for subcategory in tree_category.get_active_children %}
                                                        <li {% if tree_category.get_active_children %}class="menu-item-has-children"{% endif %}>
                                                            <a class="megamenu-head"
                                                               href="{{ subcategory.get_absolute_url }}">{{ subcategory.name }}</a>
                                                            {% if subcategory.get_active_children %}
                                                                <ul>
                                                                    {% for sub in subcategory.get_active_children %}
                                                                        <li>
                                                                            <a href="{{ sub.get_absolute_url }}">{{ sub.name }}</a>
                                                                        </li>
                                                                    {% endfor %}
                                                                </ul>
                                                            {% endif %}
                                                        </li>
                                                    {% endfor %}
                                                </ul>
                                            {% endif %}
                                        </li>
                                    {% endfor %}
{#                                    <li><a href="#" id="more-btn"><span class="icon_plus_alt2"></span> Xem Thêm</a></li>#}
                                </ul>
                            </nav>
                        </div>
                    {% endif %}
                </div>

                <div class="col-lg-9 col-md-12">
                    <div class="slider-container">
                        <div class="hero-slider-two">
                            {% for slide in slides %}
                                <div class="hero-slider-item slider-bg-3">
                                    <div class="slider-content">
                                        <a href="{{ slide.link }}">
                                            {% thumbnail slide.banner "870x480" crop='center' upscale='True' as thumb %}
                                                <img class="w-100 h-100" src="{{ thumb.url }}"
                                                     alt="{{ slide.banner_name }}">
                                            {% endthumbnail %}
                                        </a>
                                    </div>
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    {% include "binhphuoc/partials/top-focus.html" %}

    <div class="double-banner-section mb-35">
        <div class="container">
            <div class="row">
                {% for slide in slide_banners %}
                    {% if forloop.counter == 1 %}
                        <div class="col-lg-6 col-md-6 col-sm-12 mb-xs-35">
                    <!--=======  single banner  =======-->

                    <div class="single-banner">
                        <a href="{{ slide.link }}">
                                {% thumbnail slide.banner "570x247" crop='center' upscale='True' as thumb %}
                                    <img src="{{ thumb.url }}"
                                         alt="{{ slide.banner_name }}" class="img-fluid">
                                {% endthumbnail %}
                        </a>
                    </div>

                    <!--=======  End of single banner  =======-->
                </div>
                    {% endif %}
                    {% if forloop.counter == 2 %}
                        <div class="col-lg-6 col-md-6 col-sm-12">
                    <!--=======  single banner  =======-->

                    <div class="single-banner">
                        <a href="{{ slide.link }}">
                                {% thumbnail slide.banner "570x247" crop='center' upscale='True' as thumb %}
                                    <img src="{{ thumb.url }}"
                                         alt="{{ slide.banner_name }}" class="img-fluid">
                                {% endthumbnail %}
                        </a>
                    </div>

                    <!--=======  End of single banner  =======-->
                </div>
                    {% endif %}
                {% endfor %}
            </div>
        </div>
    </div>


    {% include "binhphuoc/enterprise/rand_enterprise_list.html" %}

    {% block news %}
        {% include "binhphuoc/partials/feature_news.html" %}
    {% endblock %}

{#    {% include "binhphuoc/partials/top_selled.html" %}#}

    {# footer #}
    {% include "binhphuoc/partials/footer.html" %}

{% endblock %}
{% block extrascripts %}
    {{ block.super }}
{#    <script type="text/javascript" src="{% static "binhphuoc/js/hs.tabs.js" %}"></script>#}

    <script>
        $(window).load(function () {
            document.getElementById("categories-menu").style.display = "block";
        });

        $(document).on('ready', function () {
            // initialization of tabs
            $.HSCore.components.HSTabs.init('[role="tablist"]');
        });

        $(window).on('resize', function () {
            setTimeout(function () {
                $.HSCore.components.HSTabs.init('[role="tablist"]');
            }, 200);
        });
    </script>
{% endblock %}