{% extends "binhphuoc/layout.html" %}
{% load i18n %}
{% load thumbnail %}

{% block content_wrapper %}
    {% block content %}
        <div class="breadcrumb-area">
		<div class="container">
            <div class="row">
                <div class="col">
                    <div class="breadcrumb-container">
                        <ul>
                            <li><a href="{{ homepage_url }}"><i class="fa fa-home"></i> {% trans "Home" %}</a></li>
                            {% block breadcrumbs %}{% endblock %}
                        </ul>
                    </div>
                </div>
            </div>
		</div>
	    </div>
        {% block main_content %}{% endblock %}
    {% endblock %}
{% endblock %}