{% extends "binhphuoc/base.html" %}
{% load staticfiles %}
{% load compress %}
{% load promotion_tags %}
{% load currency_filters %}
{% load v_category_tags %}

{% block mainstyles %}
    <link href="{% static "binhphuoc/css/bootstrap.min.css" %}" rel="stylesheet">
    <link href="{% static "binhphuoc/css/font-awesome.min.css" %}" rel="stylesheet">
    <link href="{% static "binhphuoc/css/elegent.min.css" %}" rel="stylesheet">
    <link href="{% static "binhphuoc/css/plugins.css" %}" rel="stylesheet">
    <link href="{% static "binhphuoc/css/helper.css" %}" rel="stylesheet">

    {% block styles %}
        {% compress css %}
            {% if use_less %}
                <link rel="stylesheet" type="text/less" href="{% static "binhphuoc/less/main.less" %}"/>
            {% else %}
                <link rel="stylesheet" type="text/css" href="{% static "binhphuoc/css/main.css" %}?v=03042020"/>
            {% endif %}
        {% endcompress %}
    {% endblock %}
    <script type="text/javascript" src="{% static "binhphuoc/js/vendor/modernizr-2.8.3.min.js" %}"></script>

{#    <link href="{% static "binhphuoc/css/modernizr-2.8.3.min.css" %}" rel="stylesheet">#}
{% endblock %}

{% block layout %}
    {% comment %}<div id="tabs" class="hideAll">{% endcomment %}

    <header>
        {# Top-horizontal bar with account, notifictions, dashboard links #}
        {% include "binhphuoc/partials/top_header.html" %}
        {% include "binhphuoc/partials/nav_primary.html" %}
    </header>

    {# Main content of page - other layout templates may override this block #}
    {% block content_wrapper %}
    {% endblock %}
    {% include "binhphuoc/partials/top_selled.html" %}

    {# footer #}
    {% include "binhphuoc/partials/footer.html" %}

    <!-- scroll to top  -->
    <a href="#" class="scroll-top"></a>
    <!-- end of scroll to top -->
{% endblock %}

{% block extrascripts %}{% endblock %}

{% block onbodyload %}
    {{ block.super }}
    oscar.init();
{% endblock %}