{% extends "binhphuoc/layout_2_col.html" %}
{% load i18n %}
{% load static %}
{% load thumbnail %}
{% load v_display_tags %}
{% load widget_tweaks %}

{% block title %}
    Tìm kiếm sản phẩm: "{{ query }}" | {{ block.super }}
{% endblock %}

{% block headertext %}
    {% blocktrans with q=query %}
        Products matching "{{ q }}"
    {% endblocktrans %}
{% endblock %}

{% block extrastyles %}
    <link href="{% static "binhphuoc/css/flexslider.css" %}" rel="stylesheet">
{% endblock %}

{% block breadcrumbs %}
    <li class="active">Kết quả tìm kiếm cho từ khóa "{{ query }}"</li>
{% endblock %}

{% block main_content %}
    <div class="shop-page-container mb-50">
		<div class="container">
			<div class="row">
				<div class="col-lg-3 order-2 order-lg-1">
					<!--=======  sidebar area  =======-->

					<div class="sidebar-area">
                    {% if has_facets %}
						<!--=======  single sidebar  =======-->
                    {% for field, data in facet_data.items %}

                        {% if field == 'category' %}
						<div class="sidebar mb-35">
							<h3 class="sidebar-title">DANH MỤC SẢN PHẨM</h3>
							{% if data.results %}
                                {% include 'binhphuoc/search/partials/facet.html' with name=data.name items=data.results %}
                            {% endif %}
						</div>
                        {% endif %}
						<!--=======  End of single sidebar  =======-->

                        <!--=======  single sidebar  =======-->
                        {% if field == 'price_range' %}
						<div class="sidebar mb-35">
							<h3 class="sidebar-title">{% trans 'GIÁ (K = 1000VNĐ' %})</h3>
                            {% if data.results %}
                            {% include 'binhphuoc/search/partials/facet.html' with name=data.name items=data.results %}
                            {% endif %}
						</div>
                        {% endif %}
						<!--=======  End of single sidebar  =======-->
                        {% endfor %}
                    {% endif %}
					</div>
					<!--=======  End of sidebar area  =======-->
				</div>
				<div class="col-lg-9 order-1 order-lg-2 mb-sm-35 mb-xs-35">
					<!--=======  Shop header  =======-->

					<div class="shop-header mb-35">
                    <form method="get" action="{% url 'search:search' %}">
						<div class="row">
							<div class="col-lg-4 col-md-4 col-sm-12 d-flex align-items-center">
								<!--=======  view mode  =======-->

								<div class="view-mode-icons mb-xs-10">
									<a class="active" href="#" data-target="grid"><i class="fa fa-th"></i></a>
									<a href="#" data-target="list"><i class="fa fa-list"></i></a>
								</div>

								<!--=======  End of view mode  =======-->

							</div>
							<div class="col-lg-8 col-md-8 col-sm-12 d-flex flex-column flex-sm-row justify-content-between align-items-left align-items-sm-center">
								<!--=======  Sort by dropdown  =======-->
                                {% if form %}
                                <div class="sort-by-dropdown d-flex align-items-center mb-xs-10">
                                        {% include "binhphuoc/partials/sortby_form_field.html" with field=form.sort_by %}
                                        {% for field in form %}
                                            {% if field.value and field.html_name != 'sort_by' %}
                                                {% render_field field class+="hidden_field" %}
                                            {% endif %}
                                        {% endfor %}
                                </div>
                                {% endif %}
								<!--=======  End of Sort by dropdown  =======-->
                                {% if paginator.count %}
                                        <p class="result-show-message">
                                        {% if paginator.num_pages > 1 %}
                                            (
                                            {% with start=page.start_index end=page.end_index num_results=paginator.count %}
                                                Có <strong>{{ num_results }}</strong> sản phẩm, hiển thị từ
                                                <strong>{{ start }}</strong> đến <strong>{{ end }}</strong>.
                                            {% endwith %}
                                            )
                                        {% else %}
                                            (
                                            {% blocktrans count num_results=paginator.count %}
                                                Có <strong>1</strong> sản phẩm.
                                            {% plural %}
                                                Có <strong>{{ num_results }}</strong> sản phẩm.
                                            {% endblocktrans %}
                                            )
                                        {% endif %}
                                        </p>
                                    {% else %}
                                        <p class="result-show-message">
                                            {% trans "<strong>0</strong> results." %}
                                        </p>
                                    {% endif %}
							</div>
						</div>
                    </form>
					</div>

					<!--=======  End of Shop header  =======-->

					<!--=======  Grid list view  =======-->

					<div class="shop-product-wrap list row no-gutters mb-35">
                        {% if page.object_list %}
                        {% for result in page.object_list %}
                            {% with product=result.object %}
                            {% include "binhphuoc/catalogue/partials/product_category_350x350.html" %}
                            {% endwith %}
                        {% endfor %}
                        {% else %}
                            <p>
                            <span>
                                Không tìm thấy sản phẩm nào với từ khóa "{{ query }}"
                            </span>
                            </p>
                        {% endif %}
					</div>
					<!--=======  End of Grid list view  =======-->

					<!--=======  Pagination container  =======-->
                    {% paginator 2 "binhphuoc/search/partials/pagination.html" %}
					<!--=======  End of Pagination container  =======-->

				</div>
			</div>
		</div>
	</div>
{% endblock %}