{% load django_tables2 %}
{% load i18n %}
<div class="btn-toolbar">
    <div class="btn-group">
        <button class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown" aria-expanded="true">
            {% trans "Actions" %}
            <span class="caret"></span>
        </button>
        <ul class="nav dropdown-menu pull-right">
            <li>
                <a href="{% url 'dashboard:news-item-update' pk=record.id %}">
                    {% trans "Edit news item" %}
                </a>
            </li>
            <li>
                <a href="{{ record.get_absolute_url }}">
                    {% trans "View on site" %}
                </a>
            </li>
            <li>
                <a href="{% url 'dashboard:news-item-delete' pk=record.id %}">
                    {% trans "Delete" %}
                </a>
            </li>
        </ul>
    </div>
</div>
