{% extends "binhphuoc/layout.html" %}
{% load i18n %}
{% load static %}
{% load thumbnail %}
{% load v_display_tags %}
{% block layout %}
    <header>
        {# Top-horizontal bar with account, notifictions, dashboard links #}
        {% include "binhphuoc/partials/top_header.html" %}
        {% include "binhphuoc/partials/nav_primary.html" %}
    </header>
    {# Main content of page - other layout templates may override this block #}
    <div class="breadcrumb-area mb-20">
        <div class="container">
            <div class="row">
                <div class="col">
                    <div class="breadcrumb-container">
                        <ul>
                            <li>
                                <a href="{{ homepage_url }}"><i class="fa fa-home mr-1"></i>{% trans "Home" %}</a>
                            </li>
                            <li class="active">
                                <a href="{% url 'document:index' %}">{% trans "Văn bản pháp luật" %}</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="blog-page-container mb-50">
        <div class="container">
            <div class="row">
                {% if object_list %}
                    <div class="col">
                        <div class="blog-post-container">
                            {% for n in object_list %}
                                <div class="single-blog-post mb-35">
                                    <div class="single-blog-post-content">
                                        <h3 class="post-title"><a href="{{ n.get_absolute_url }}"><i
                                                class="fa fa-file-text"
                                                style="color:red;"></i>
                                            <span class="date"> {{ n.get_legislation_type_display }} {{ n.official_number }}</span></a>
                                        </h3>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-9">
                                            <p class="post-excerpt">{{ n.title }}</p>
                                        </div>
                                        <div class="col-md-3">
                                            <p class="post-excerpt m-0">
                                                <label style="font-weight: bold"> {% trans "Ban hành:" %}</label><span
                                                    style="float: right;"><i
                                                    class="one-space"></i>{{ n.published_date|date:"SHORT_DATE_FORMAT" }}</span>
                                            </p>
                                            <p class="post-excerpt m-0">
                                                <label style="font-weight: bold"> {% trans "Hiệu lực:" %}</label><span
                                                    style="float: right;"><i
                                                    class="one-space"></i>{{ n.validated_date|date:"SHORT_DATE_FORMAT" }}</span>
                                            </p>
                                            {% if n.is_expired %}
                                                <p class="post-excerpt m-0">
                                                    <label> {% trans "Trạng thái:" %}</label><span
                                                        style="float: right;"> {% trans "Chưa có hiệu lực" %}</span>
                                                </p>
                                            {% endif %}
                                        </div>
                                    </div>
                                    {% if n.file %}
                                        <div class="single-blog-post-content">
                                            <i class="fa fa-download" style="color: green"></i>
                                            <a href="{{ n.file.url }}">
                                                {% trans "Tải về" %}
                                            </a>
                                        </div>
                                    {% endif %}
                                </div>
                            {% endfor %}
                        </div>
                        {% paginator 2 "binhphuoc/partials/pagination.html" %}
                    </div>
                {% endif %}
            </div>
        </div>
    </div>
    {# footer #}
    {% include "binhphuoc/partials/footer.html" %}
{% endblock %}