{% extends "binhphuoc/layout_2_col.html" %}
{% load i18n %}
{% load static %}
{% load thumbnail %}
{% block layout %}
    <header>
        {# Top-horizontal bar with account, notifictions, dashboard links #}
        {% include "binhphuoc/partials/top_header.html" %}
        {% include "binhphuoc/partials/nav_primary.html" %}
    </header>
    {# Main content of page - other layout templates may override this block #}
    <div class="breadcrumb-area mb-20">
        <div class="container">
            <div class="row">
                <div class="col">
                    <div class="breadcrumb-container">
                        <ul>
                            <li>
                                <a href="{{ homepage_url }}"><i class="fa fa-home mr-1"></i>{% trans "Home" %}</a>
                            </li>
                            <li>
                                <a href="{% url 'document:index' %}">{% trans "Văn bản pháp luật" %}</a>
                            </li>
                            <li class="active">
                                <a href="{{ document.get_absolute_url }}">{{ document.get_legislation_type_display }} {{ document.official_number }}</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="blog-page-container mb-50">
        <div class="container">
            <div class="row">
                <div class="col">
                    <div class="blog-post-container">
                        <div class="single-blog-post mb-35">
                            <div class="single-blog-post-content">
                                <h3 class="post-title"><i class="fa fa-file-text" style="color:red;"></i>
                                    <span class="date"> {{ document.get_legislation_type_display }} {{ document.official_number }}</span>
                                    <span>: {{ document.title }}</span>
                                </h3>
                                <hr/>
                                <div class="row">
                                    <div class="col-md-4">
                                        <p class="post-excerpt m-0">
                                            <label style="font-weight: bold"> {% trans "Trạng thái:" %}</label>
                                            {% if document.is_expired %}
                                                <span style="float: right;">{% trans "Chưa có hiệu lực" %}</span>
                                            {% else %}
                                                <span style="float: right;">{% trans "Còn hiệu lực" %}</span>
                                            {% endif %}
                                        </p>
                                        <p class="post-excerpt m-0">
                                            <label style="font-weight: bold"> {% trans "Số ký hiệu:" %}</label><span
                                                style="float: right;"><i
                                                class="one-space"></i>{{ document.official_number }}</span>
                                        </p>
                                        <p class="post-excerpt m-0">
                                            <label style="font-weight: bold"> {% trans "Tên văn bản :" %}</label><span
                                                style="float: right;"><i
                                                class="one-space"></i>{{ document.title|truncatewords:6 }}</span>
                                        </p>
                                    </div>
                                    <div class="col-md-4">
                                        <p class="post-excerpt m-0">
                                            <label style="font-weight: bold"> {% trans "Ngày ban hành:" %}</label><span
                                                style="float: right;"><i
                                                class="one-space"></i>{{ document.published_date|date:"SHORT_DATE_FORMAT" }}</span>
                                        </p>
                                        <p class="post-excerpt m-0">
                                            <label style="font-weight: bold"> {% trans "Ngày hiệu lực:" %}</label><span
                                                style="float: right;"><i
                                                class="one-space"></i>{{ document.validated_date|date:"SHORT_DATE_FORMAT" }}</span>
                                        </p>
                                        <p class="post-excerpt m-0">
                                            <label style="font-weight: bold"> {% trans "Loại văn bản:" %}</label><span
                                                style="float: right;"><i
                                                class="one-space"></i>{{ document.get_legislation_type_display }}</span>
                                        </p>
                                    </div>
                                    <div class="col-md-4">
                                        <p class="post-excerpt m-0">
                                            <label style="font-weight: bold"> {% trans "Đơn vị ban hành:" %}</label><span
                                                style="float: right;"><i
                                                class="one-space"></i>{{ document.get_issuing_body_display }}</span>
                                        </p>
                                        <p class="post-excerpt m-0">
                                            <label style="font-weight: bold"> {% trans "Người ký:" %}</label><span
                                                style="float: right;"><i
                                                class="one-space"></i>{{ document.signer_name }}</span>
                                        </p>
                                        <p class="post-excerpt m-0">
                                            <label style="font-weight: bold"> {% trans "Chức vụ:" %}</label><span
                                                style="float: right;"><i
                                                class="one-space"></i>{{ document.signer_position }}</span>
                                        </p>
                                    </div>
                                </div>
                                <br/>
                                {% if document.file %}
                                    <div class="single-blog-post-content">
                                        <i class="fa fa-download" style="color: green"></i>
                                        <a href="{{ document.file.url }}">
                                            {% trans "Tải về" %}
                                        </a>
                                    </div>
                                {% endif %}
                                {% if document.description %}
                                    <p class="post-excerpt">
                                        {{ document.description|safe }}
                                    </div>
                                {% endif %}
                            {% if document.content %}
                                <hr/>
                                <p class="post-excerpt">
                                    {{ document.content|safe }}
                                </p>
                                {% if document.file %}
                                    <div class="single-blog-post-content">
                                        <i class="fa fa-download" style="color: green"></i>
                                        <a href="{{ document.file.url }}">
                                            {% trans "Tải về" %}
                                        </a>
                                    </div>
                                {% endif %}
                            {% endif %}
                        </div>
                        {% if other_documents %}
                            <hr>
                            <div class="single-blog-post-content">
                                <h3 class="post-title">{% trans "Các văn bản khác" %}</h3>
                                <ul>
                                    {% for odocument in other_documents %}
                                        <li><i class="fa fa-check"></i>&nbsp;<a
                                                href="{{ odocument.get_absolute_url }}">{{ odocument.title }}<span> ({{ document.date_updated|date:"SHORT_DATE_FORMAT" }})</span></a>
                                        </li>
                                    {% endfor %}
                                </ul>
                            </div>
                            <div class="pagination pull-right">
                                <a href="{% url 'document:index' %}">{% trans 'Xem thêm' %}
                                    <i class="fa fa-angle-right"></i>
                                </a>
                            </div>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>
    {# footer #}
    {% include "binhphuoc/partials/footer.html" %}
{% endblock %}