{% load i18n %}
{% load product_tags %}
{% load purchase_info_tags %}
{% load thumbnail %}
{% load currency_filters %}

{% with products_sliced=products|slice:":12" %}
    {% if products_sliced %}
        <div class="row hotproduct">
            <div class="title">
                {% trans "Sản phẩm bạn vừa xem" %}
            </div>
            <section class="hslider">
                <div class="col-md-12 pr-0 flexslider hot-slider carousel">
                    <ul class="slides">
                        {% for product in products_sliced %}
                        {% purchase_info_for_product request product as session %}
                        <li class="product">
                          <a href="{{ product.get_absolute_url }}" title="{{ product.get_title }} | {{ session.stockrecord.partner }}">
                            <div class="product-image">
                                {% with image=product.primary_image %}
                                {% thumbnail image.original "90x130" padding=True as thumb %}
                                  <img src="{{ thumb.url }}" alt="{{ product.get_title }}">
                                {% endthumbnail %}
                                {% endwith %}
                              <div class="product-title">
                                <span>{{ product.get_title|truncatewords:16 }}</span>
                              </div>
                            </div>
                          </a>
                        </li>
                        {% endfor %}
                    </ul>
                </div>
            </section>
        </div>
{% endif %}
{% endwith %}