{% extends "binhphuoc/layout.html" %}
{% load i18n %}
{% load static %}
{% load thumbnail %}
{% load v_display_tags %}
{% block layout %}
    <header>
        {# Top-horizontal bar with account, notifictions, dashboard links #}
        {% include "binhphuoc/partials/top_header.html" %}
        {% include "binhphuoc/partials/nav_primary.html" %}
    </header>
    {# Main content of page - other layout templates may override this block #}
    <div class="breadcrumb-area">
        <div class="container">
            <div class="row">
                <div class="col">
                    <div class="breadcrumb-container">
                        <ul>
                            <li>
                                <a href="{{ homepage_url }}"><i class="fa fa-home mr-1"></i>{% trans "Home" %}</a>
                            </li>
                            <li>
                                <a href="{% url 'news:index' %}">{% trans "Tin tức" %}</a>
                            </li>
                            {% for c in category.get_ancestors_and_self %}
                                <li {% if forloop.last %}class="active"{% endif %}>
                                    <a href="{{ c.get_absolute_url }}">{{ c.name }}</a>
                                </li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="blog-page-container mb-50">
        <div class="container">
            <div class="row">
                <div class="col-lg-3 order-2">
                    <div class="sidebar-area">
                        <div class="sidebar mb-35">
                            <h3 class="sidebar-title">{% trans "Quảng cáo" %}</h3>
                            <div class="block-container">
                                {% if news_banners %}
                                    {% for news_banner in news_banners %}
                                        <div class="single-block d-flex">
                                                <a href="{{ news_banner.link }}" target="_blank">
                                                    <img class="img-fluid"
                                                         src="{% thumbnail news_banner.banner "215" padding=True as thumb_right %}
                                                                {{ thumb_right.url }}
                                                              {% endthumbnail %}"
                                                    >
                                                </a>
                                        </div>
                                    {% endfor %}
                                {% endif %}
                            </div>
                        </div>
                    </div>
                </div>
                {% if news %}
                    <div class="col-lg-9 order-1">
                        <div class="blog-post-container">
                            {% for n in news %}
                                <div class="single-blog-post mb-35">
                                    <div class="row">
                                        <div class="col-lg-6 col-md-5">
                                            <div class="single-blog-post-media mb-xs-20">
                                                <div class="image">
                                                    {% with image=n.image %}
                                                        {% thumbnail image "700x665" crop='center' as thumb %}
                                                            <img class="img-fluid" src="{{ thumb.url }}" alt="{{ n.get_title }}">
                                                        {% endthumbnail %}
                                                    {% endwith %}
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-lg-6 col-md-7">
                                            <div class="single-blog-post-content">
                                                <h3 class="post-title"><a
                                                        href="{{ n.get_absolute_url }}">{{ n.title }}</a>
                                                </h3>
                                                <div class="post-meta">
                                                    <p><span><i
                                                            class="fa fa-calendar"></i> {{ n.date_created|date:"SHORT_DATE_FORMAT" }}</span>
                                                    </p>
                                                </div>
                                                <p class="post-excerpt">{{ n.description|safe }}</p>
                                                <a href="{{ n.get_absolute_url }}" class="blog-readmore-btn">Tiếp
                                                    tục</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            {% endfor %}
                        </div>
                        {% paginator 2 "binhphuoc/partials/pagination.html" %}
                    </div>
                {% endif %}
            </div>
        </div>
    </div>
    {# footer #}
    {% include "binhphuoc/partials/footer.html" %}
{% endblock %}
