{% extends "binhphuoc/layout.html" %}
{% load i18n %}
{% load static %}
{% load thumbnail %}
{% block layout %}
    <header>
        {# Top-horizontal bar with account, notifictions, dashboard links #}
        {% include "binhphuoc/partials/top_header.html" %}
        {% include "binhphuoc/partials/nav_primary.html" %}
    </header>
    {# Main content of page - other layout templates may override this block #}
    <div class="breadcrumb-area">
        <div class="container">
            <div class="row">
                <div class="col">
                    <div class="breadcrumb-container">
                        <ul>
                            <li>
                                <a href="{{ homepage_url }}"><i class="fa fa-home mr-1"></i>{% trans "Home" %}</a>
                            </li>
                            <li>
                                <a href="{% url 'news:index' %}">{% trans "Tin tức" %}</a>
                            </li>
                            {% with category=news.category %}
                                {% for c in category.get_ancestors_and_self %}
                                    <li {% if forloop.last %}class="active"{% endif %}>
                                        <a href="{{ c.get_absolute_url }}">{{ c.name }}</a>
                                    </li>
                                {% endfor %}
                            {% endwith %}
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="blog-page-container mb-50">
        <div class="container">
            <div class="row">
                <div class="col-lg-3 order-2">
                    <div class="sidebar-area">
                        <div class="sidebar mb-35">
                            <h3 class="sidebar-title">{% trans "Quảng cáo" %}</h3>
                            <div class="block-container">
                                {% if news_banners %}
                                    {% for news_banner in news_banners %}
                                        <div class="single-block d-flex">
                                                <a href="{{ news_banner.link }}" target="_blank">
                                                    <img class="img-fluid"
                                                         src="{% thumbnail news_banner.banner "215" padding=True as thumb_right %}
                                                                {{ thumb_right.url }}
                                                              {% endthumbnail %}"
                                                    >
                                                </a>
                                        </div>
                                    {% endfor %}
                                {% endif %}
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-9 order-1">
                    <div class="blog-post-container">
                        <div class="single-blog-post mb-35">
                            <div class="row">
                                <div class="col">
                                    <div class="single-blog-post-content">
                                        <h3 class="post-title">{{ news.title }}</h3>
                                        <div class="post-meta">
                                            <p><span><i
                                                    class="fa fa-calendar"></i> {{ news.date_created|date:"SHORT_DATE_FORMAT" }}</span>
                                            </p>
                                        </div>
                                        {% if news.description %}
                                            <p class="post-excerpt">
                                                {{ news.description|safe }}
                                            </p>
                                        {% endif %}
                                    </div>
                                    {% if news.image %}
                                        <div class="single-blog-post-media mb-xs-20">
                                            <div class="image text-center">
                                                {% with image=news.image %}
                                                    {% thumbnail image "750" upscale=False as thumb %}
                                                        <img src="{{ thumb.url }}">
                                                    {% endthumbnail %}
                                                {% endwith %}
                                            </div>
                                        </div>
                                    {% endif %}
                                    <p class="post-excerpt">
                                        {{ news.content|safe }}
                                    </p>
                                </div>
                                {% if other_news %}
                                    <div class="col">
                                        <h4>{% trans "Các tin khác" %}</h4>
                                        <ul class="list-unstyled">
                                            {% for onews in other_news %}
                                                <li><i class="fa fa-check"></i>&nbsp;<a
                                                        href="{{ onews.get_absolute_url }}">{{ onews.title }}<span> ({{ news.date_created|date:"SHORT_DATE_FORMAT" }})</span></a>
                                                </li>
                                            {% endfor %}
                                        </ul>
                                        <div class="pull-right">
                                    <span><a href="{{ news.category.get_absolute_url }}">{% trans 'Xem thêm' %}
                                    <i class="one-space"></i><i class="fa fa-angle-right fa-lg"></i></a></span>
                                        </div>
                                    </div>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {# footer #}
    {% include "binhphuoc/partials/footer.html" %}
{% endblock %}
