{% load staticfiles %}
{% load i18n %}
<div class="row"><hr></div>
{#<div class="row about">#}
{#    <div class="col-md-4 pl-0">#}
{#        <div class="col-md-2 padding-none">#}
{#            <img src="{% static "bacninh/images/about_icon.png" %}">#}
{#        </div>#}
{#        <div class="col-md-10">#}
{#            <span class="about-title">{% trans "Giới thiệu về sàn TMĐT" %}</span>#}
{#            <span>Hệ thống phân phối hàng Việt uy tín VnCharm.com là giải pháp được Bộ Công Thương trực tiếp quản lý ...</span>#}
{#        </div>#}
{#    </div>#}
{#    <div class="col-md-4">#}
{#        <div class="col-md-2 padding-none">#}
{#            <img src="{% static "bacninh/images/about_icon.png" %}">#}
{#        </div>#}
{#        <div class="col-md-10">#}
{#            <span class="about-title">Giới thiệu về sàn TMĐT</span>#}
{#            <span>Hệ thống phân phối hàng Việt uy tín VnCharm.com là giải pháp được Bộ Công Thương trực tiếp quản lý ...</span>#}
{#        </div>#}
{#    </div>#}
{#    <div class="col-md-4 pr-0">#}
{#        <div class="col-md-2 padding-none">#}
{#            <img src="{% static "bacninh/images/about_icon.png" %}">#}
{#        </div>#}
{#        <div class="col-md-10">#}
{#            <span class="about-title">Giới thiệu về sàn TMĐT</span>#}
{#            <span>Hệ thống phân phối hàng Việt uy tín VnCharm.com là giải pháp được Bộ Công Thương trực tiếp quản lý ...</span>#}
{#        </div>#}
{#    </div>#}
{#</div>#}