{% load i18n %}
<ul class="link-list">
    {% if user.is_authenticated %}
        {% if user.is_staff or perms.partner.dashboard_access %}
            <li><a href="{% url 'dashboard:index' %}"><i class="fa fa-list-alt"></i><i class="space-2"></i>{% trans "Dashboard" %}</a></li>
        {% else %}
            <li>
            <a href="{% url 'customer:summary' %}">
            <i class="fa fa-user"></i><i class="space-2"></i>{% trans "Account" %}
            </a>
        </li>
        {% endif %}
        <li>
            <a href="{% url 'customer:logout' %}">
            <i class="fa fa-sign-out"></i><i class="space-2"></i>{% trans "Logout" %}
            </a>
        </li>
    {% else %}
        <li>
            <a href="{% url 'customer:login' %}">
            <i class="fa fa-sign-in"></i><i class="space-2"></i>{% trans "Đăng nhập" %}
            </a>
        </li>
        <li><a href="{% url 'customer:register' %}"><i class="fa fa-unlock-alt"></i><i class="space-2"></i>{%  trans "Đăng ký" %}</a></li>
    {% endif %}
</ul>