{% load i18n %}
{% load static %}
{% load thumbnail %}
{% load v_display_tags %}

<div class="slider blog-slider mb-35">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="section-title">
                    <h3><a href="{% url 'news:index' %}">Tin tức</a></h3>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-lg-12">
                <div class="blog-slider-container pt-30 pb-30 pr-30 pl-30">
                    {% for news in latest_news %}
                        <div class="col">
                            <div class="single-post-wrapper">
                                {% if news.image %}
                                    <div class="post-thumb">
                                        {% with image=news.image %}
                                            {% if image %}
                                                {% thumbnail image "500x300" crop='center' as thumb %}
                                                    <img class="img-fluid" src="{{ thumb.url }}"
                                                         alt="{{ news.get_title }}">
                                                {% endthumbnail %}
                                            {% else %}
                                                <img src="{% static "binhphuoc/images/blog-image/blog01.jpg" %}"
                                                     alt="{{ news.get_title }}" class="img-fluid">
                                            {% endif %}
                                        {% endwith %}
                                    </div>
                                {% endif %}
                                <div class="post-info">
                                    <div class="post-meta">
                                        <div class="post-date">
                                            {{ news.date_created|date:"SHORT_DATE_FORMAT" }}
                                        </div>
                                    </div>
                                    <h3 class="post-title"><a href="{{ news.get_absolute_url }}">
                                        {{ news.title }}
                                    </a>
                                    </h3>
                                    <p>{{ news.description|safe }}</p>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
</div>


