{% load staticfiles %}
{% load i18n %}

<footer>
    <div class="newsletter-section pt-30 pb-30">
        <div class="container">
            <div class="subscription-form-wrapper d-flex flex-wrap flex-sm-nowrap">
                <p class="mb-xs-20">Đăng ký email ngay để nhận các thông tin về sản phẩm mới.</p>
                <div class="subscription-form">
                    <form id="mc-form" class="mc-form subscribe-form">
                        <input type="email" id="mc-email" autocomplete="off" placeholder="Địa chỉ email">
                        <button id="mc-submit" type="submit"> Đăng ký!</button>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <div class="social-contact-section pt-50 pb-50">
        <div class="container">
            <div class="row">
                <div class="col-sm-6 col-xs-12 mb-xs-30">
                    <div class="single-navigation-section">
                        <h3 class="nav-section-title mb-20">Sàn giao dịch nông sản tỉnh Bình Phước</h3>
                        <div class="single-contact d-flex mb-20">
                            <div class="icon">
                                <span class="icon_pin_alt"></span>
                            </div>
                            <div class="contact-info">
                                <p>Địa chỉ: <span>Đường Hùng Vương, phường Tân Bình, TP. Đồng Xoài, tỉnh Bình Phước</span></p>
                            </div>
                        </div>
                        <div class="single-contact d-flex mb-20">
                            <div class="icon">
                                <span class="icon_mobile"></span>
                            </div>
                            <div class="contact-info">
                                <p>Điện thoại: <span>02713881184</span></p>
                            </div>
                        </div>
			<div class="single-contact d-flex mb-20">
                            <div class="icon">
                                <span class="icon_mail_alt"></span>
                            </div>
                            <div class="contact-info">
                                <p>Email: <span>sct@binhphuoc.gov.vn</span></p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-3 col-xs-12 mb-xs-30">
                    <div class="single-navigation-section">
                        <h3 class="nav-section-title">Hướng dẫn</h3>
                        <ul>
                            <li>
                                <a href="/gioi-thieu-ve-chung-toi.html/" target="_blank">
                                    Giới thiệu
                                </a>
                            </li>
                            <li>
                                <a href="/huong-dan/dang-ky.html/" target="_blank">
                                    Hướng dẫn đăng ký
                                </a>
                            </li>
                            <li>
                                <a href="/huong-dan/mua-hang.html/" target="_blank">
                                    Hướng dẫn mua hàng
                                </a>
                            </li>
                            <li>
                                <a href="/huong-dan/ban-hang.html/" target="_blank">
                                    Hướng dẫn bán hàng
                                </a>
                            </li>
                            <li>
                                <a href="/huong-dan/cau-hoi-thuong-gap.html/" target="_blank">
                                    Câu hỏi thường gặp
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-sm-3 col-xs-12 mb-xs-30">
                    <div class="single-navigation-section">
                        <h3 class="nav-section-title">Chính sách</h3>
                        <ul>
                            <li>
                                <a href="/chinh-sach/quy-che-hoat-dong.html/" target="_blank">Quy chế hoạt
                                    động</a>
                            </li>
                            <li>
                                <a href="/chinh-sach/bao-mat-thong-tin.html/" target="_blank">Bảo mật thông
                                    tin</a>
                            </li>
                            <li>
                                <a href="/chinh-sach/quy-trinh-giai-quyet-khieu-nai.html/" target="_blank">Giải
                                    quyết
                                    khiếu
                                    nại</a>
                            </li>
                            <li>
                                <a href="/chinh-sach/bao-mat-thong-tin.html/" target="_blank">
                                    Bảo mật thông tin cá nhân
                                </a>
                            </li>
                            <li>
                                <a href="/chinh-sach/van-chuyen.html/" target="_blank">Chính sách vận chuyển</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="footer-navigation-section pt-10 pb-10" style="font-size: 12px;">
        <div class="text-center">
            &copy;<script>document.write(new Date().getFullYear());</script>
            Bản quyền thuộc <b>Sở công thương tỉnh Bình Phước</b>. Designed by <em>Ecomviet</em>
        </div>
    </div>
</footer>
