{% load promotion_tags %}
{% load i18n %}
{% load staticfiles %}
{% load thumbnail %}
{% load v_history_tags %}
{% load request_tag %}
<div class="list-slide-by-cart pt-5 pb-5">
    <div class="container">
        <!-- SECTION PRODUCT CAT-->
        <div class="home-categories-list">
            {% for category in home_categories %}
                <div class="product-by-cat mb-4">
                    <div class="top-title d-inline-flex align-items-center bg-font-purple-seance">
                        <i class="e-icon icon-sunrise"></i>
                        <span class="title-name">
                        <a href="{{ category.get_absolute_url }}">{{ category.name }}</a><i
                                class="fa fa-angle-right fa-lg g-ml-5 g-font-size-23"></i>
                    </span>
                    </div>
                    {% if category.random_product %}
                        {% if forloop.counter0|divisibleby:"2" %}
                            <div class="inner-section row">
                                <div class="product-in-cat col-lg-9">
                                    <ul class="list-products row d-inline-flex h-100 w-100">
                                        {% for product in category.random_product %}
                                            <li class="p-item">
                                                {% include "binhphuoc/catalogue/partials/product_category_170x257.html" %}
                                            </li>
                                        {% endfor %}
                                    </ul>
                                </div>
                                <div class="col-lg-3 slide-by-cat header-top-right p-0">
                                    <div class="content-slider float-left homeslider"
                                         style="max-height: 300px;overflow: hidden;">
                                        <ul class="list-banner" id="slider-cat-{{ forloop.counter0 }}">
                                            {% if category.Banners %}
                                                {% for cat_banner in category.Banners %}
                                                    <li>
                                                        <a href="{{ cat_banner.link }}" target="_blank">
                                                            <img class="w-100 h-100"
                                                                 src="{% thumbnail cat_banner.banner "300x300" crop="center" as thumb %}
                                                                {{ thumb.url }}
                                                              {% endthumbnail %}"
                                                            >
                                                        </a>
                                                    </li>
                                                {% endfor %}
                                            {% endif %}
                                        </ul>
                                    </div>
                                    {% comment %}<div class="float-left" style="max-height: 40px;">
                                        <a href="{{ category.get_absolute_url }}">
                                            <img class="w-100" style="max-height: 40px;"
                                                 src="{{ STATIC_URL }}binhphuoc/images/go-3.png"
                                                 alt="xem thêm">
                                        </a>
                                    </div>{% endcomment %}
                                </div>

                            </div>
                        {% else %}
                            <div class="inner-section row">
                                <div class="col-lg-3 slide-by-cat header-top-right p-0">
                                    <div class="content-slider homeslider" style="max-height: 300px;overflow: hidden;">
                                        <ul class="list-banner" id="slider-cat-{{ forloop.counter0 }}">
                                            {% if category.Banners %}
                                                {% for cat_banner in category.Banners %}
                                                    <li>
                                                        <a href="{{ cat_banner.link }}" target="_blank">
                                                            <img class="w-100 h-100"
                                                                 src="{% thumbnail cat_banner.banner "300x300" crop="center" as thumb %}
                                                                {{ thumb.url }}
                                                              {% endthumbnail %}"
                                                            >
                                                        </a>
                                                    </li>
                                                {% endfor %}
                                            {% endif %}
                                        </ul>
                                    </div>
                                    {% comment %}<div class="float-left" style="max-height: 40px;">
                                        <a href="{{ category.get_absolute_url }}">
                                            <img class="w-100" style="max-height: 40px;"
                                                 src="{{ STATIC_URL }}binhphuoc/images/go-3.png"
                                                 alt="xem thêm">
                                        </a>
                                    </div>{% endcomment %}
                                </div>
                                <div class="product-in-cat col-lg-9">
                                    <ul class="list-products row d-inline-flex h-100 w-100">
                                        {% for product in category.random_product %}
                                            <li class="p-item">
                                                {% include "binhphuoc/catalogue/partials/product_category_170x257.html" %}
                                            </li>
                                        {% endfor %}
                                    </ul>
                                </div>
                            </div>
                        {% endif %}
                    {% endif %}
                </div>
            {% endfor %}
        </div>
        <!-- END SECTION PRODUCT CAT-->
    </div>
</div>