{% load staticfiles %}
{% load currency_filters %}
{% load v_category_tags %}
{% load i18n %}

<div class="header-bottom header-bottom-one">
    <div class="container">
        <div class="row" style="background: url('{% static  'binhphuoc/images/banner.jpg'%}')">
            <div class="col-md-2 col-sm-12 col-xs-12 text-lg-left text-md-center text-sm-center">
                <!-- logo -->
                <div class="logo mt-15 mb-15">
                    <a href="{{ homepage_url }}">
{#                        <img src="{% static "binhphuoc/images/binhphuoc.png" %}" class="w-100 normal-mode">#}
                        <img src="{% static "binhphuoc/images/logo.png" %}" class="w-100 sticky-mode" >
                    </a>
                </div>
            </div>
            <div class="col-md-10 col-sm-12 col-xs-12">
                <div class="site-banner-text hidden-xs">
                    <span><strong>Sàn giao dịch nông sản tỉnh BÌNH PHƯỚC</strong></span>
                </div>
                <div class="menubar-top d-flex justify-content-between align-items-center flex-sm-wrap flex-md-wrap flex-lg-nowrap mt-sm-15">
                    <!-- search bar -->
                    <div class="header-advance-search" id="toggleearch">
                        {% include "binhphuoc/partials/top_nav_search.html" %}
                    </div>
                </div>
            </div>


{##}
{#                <!-- navigation section -->#}
{#                <div class="main-menu">#}
{#                    <nav>#}
{#                        <ul>#}
{#                            <li><a href="{{ homepage_url }}"> {% trans "Trang chủ" %}</a></li>#}
{#                            <li><a href="/gioi-thieu-ve-chung-toi.html/"> {% trans "Giới thiệu" %}</a></li>#}
{#                            <li><a href="{% url 'enterprise:index' %}"> {% trans "Doanh nghiệp" %}</a></li>#}
{#                            <li><a href="{% url 'news:index' %}">{% trans "Tin tức" %}</a></li>#}
{#                            <li><a class="border-0"#}
{#                                   href="{% url 'document:index' %}">{% trans "Văn bản pháp luật" %}</a></li>#}
{#                        </ul>#}
{#                    </nav>#}
{#                </div>#}
{#            </div>#}
            <div class="col-12">
                <!-- Mobile Menu -->
                <div class="mobile-menu d-block d-lg-none"></div>
            </div>
        </div>
    </div>

    <div class="container home-other-navigation-menu">
            <div class="row">
                <div class="col-lg-12">
                    <!-- navigation section -->
                <div class="main-menu">
                    <nav>
                        <ul>
                            <li><a href="{{ homepage_url }}"> {% trans "Trang chủ" %}</a></li>
                            <li><a href="/gioi-thieu-ve-chung-toi.html/"> {% trans "Giới thiệu" %}</a></li>
                            <li><a href="{% url 'enterprise:index' %}"> {% trans "Doanh nghiệp" %}</a></li>
                            <li><a href="{% url 'news:index' %}">{% trans "Tin tức" %}</a></li>
                            <li><a class="border-0"
                                   href="{% url 'document:index' %}">{% trans "Văn bản pháp luật" %}</a></li>
                            <li>
                                <a href="/chinh-sach/quy-che-hoat-dong.html/" target="_blank">Quy chế hoạt
                                    động</a>
                            </li>
                            <li>
                                <a href="{% url 'contact_form' %}" target="_blank">Liên hệ</a>
                            </li>
                        </ul>
                    </nav>
{#                <div class="pull-right reponsive-pull">#}
{#                        <a data-toggle="mycollapse" href="#toggleearch" id="toggleearchbtn">#}
{#                            <span class="icon_search"></span>#}
{#                        </a>#}
{#                    </div>#}
                    <!-- end of navigation section -->
                </div>
                </div>
            </div>
{#            <div class="collapse" id="toggleearch">#}
{#                <form id="siteformsearch" method="GET" action="{% url 'search:search' %}" data-minlen="3" data-maxlen="60">#}
{#                    <input type="hidden" id="search_select" name="category_id" value="-1">#}
{#                    {{ search_form.q }}#}
{#                    <button><span class="icon_search"></span></button>#}
{#                </form>#}
{#            </div>#}
    </div>
</div>