{% load i18n %}
{% load category_tags %}
{% load v_display_tags %}

<div class="col-md-12 padding-none search">
    <form id="search" method="GET" action="{% url 'search:search' %}">
      <select id="search_select" name="category_id" class="form-control col-md-2" style="border-right: 1px solid #c82828;">
          <option value="-1"> {% trans "All" %}</option>
          {% category_tree depth=1 as tree_categories %}
          {% if tree_categories %}
              {% for tree_category,info in tree_categories %}
                <option value="{{ tree_category.id }}"  {% ifequal tree_category.id request.GET.category_id|add:"0" %} selected {% endifequal %}> {{ tree_category.name }} </option>
                  {% if  tree_category.get_active_children %}
                    {% for subcategory in tree_category.get_active_children %}
                        <option value="{{ subcategory.id }}" {% ifequal tree_category.id request.GET.category_id|add:"0" %} selected {% endifequal %}>
                          {{ subcategory.name|add_left_space:2 }}
                        </option>
                    {% endfor %}
                  {% endif %}
              {% endfor %}
          {% endif %}
      </select>
    <span id="width_tmp"></span>
    <span id="search_input_tmp" class="col-md-10"></span>
        {{ search_form.q }}
      <button type="submit" class="btn btn-danger col-md-2"><i class="fa fa-search"></i><i class="space-2"></i>{% trans "Search" %}</button>
    </form>
</div>
