{% load form_tags %}
{% load widget_tweaks %}

{% if field.is_hidden %}
    {{ field }}
{% else %}
    {% comment %}
        Make the field widget type available to templates so we can mark-up
        checkboxes differently to other widgets.
    {% endcomment %}
    {% annotate_form_field field %}

    {% block control_group %}
        {% block label %}
            {% if not nolabel and field.widget_type != 'CheckboxInput' %}
                <p for="{{ field.auto_id }}"
                       class="mr-10 {% if style|default:"stacked" != 'stacked' %}col-sm-4{% endif %} {% if field.field.required %} required{% endif %}">
                    {{ field.label|safe }}:
                </p>
            {% endif %}
        {% endblock %}

        {% block controls %}
            {% block widget %}
                {% if field.widget_type == 'CheckboxInput' %}
                    <label for="{{ field.auto_id }}" class="checkbox {% if field.field.required %}required{% endif %}">
                        {{ field.label|safe }}
                        {% render_field field %}
                    </label>
                {% else %}
                    {% render_field field class+="nice-select" %}
                {% endif %}
            {% endblock %}

            {% block errors %}
                {% for error in field.errors %}
                    <span class="error-block"><i class="icon-exclamation-sign"></i> {{ error }}</span>
                {% endfor %}
            {% endblock %}

            {% block help_text %}
                {% if field.help_text %}
                    <span class='help-block'>
                                {# We allow HTML within form help fields #}
                                {{ field.help_text|safe }}
                            </span>
                {% endif %}
            {% endblock %}

        {% endblock %}
    {% endblock %}
{% endif %}
