{% load promotion_tags %}
{% load thumbnail %}
{% load currency_filters %}
{% load staticfiles %}
{% load purchase_info_tags %}
{% load v_category_tags %}
{% load i18n %}

<div class="slider tab-slider mb-35">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="tab-slider-wrapper">
                    <nav>
                        <div class="nav nav-tabs" id="nav-tab" role="tablist">
                            <a class="nav-item nav-link active" id="featured-tab" data-toggle="tab" href="#featured"
                               role="tab"
                               aria-selected="true">Sản phẩm bán chạy</a>
                            <a class="nav-item nav-link" id="new-arrival-tab" data-toggle="tab" href="#new-arrivals"
                               role="tab"
                               aria-selected="false">Sản phẩm mới</a>
{#                            <a class="nav-item nav-link" id="nav-onsale-tab" data-toggle="tab" href="#on-sale"#}
{#                               role="tab"#}
{#                               aria-selected="false">Sản phẩm tiêu biểu</a>#}
                        </div>
                    </nav>
                    <div class="tab-content" id="nav-tabContent">
                        <div class="tab-pane fade in show active" id="featured" role="tabpanel"
                             aria-labelledby="featured-tab">
                            <div class="tab-slider-container">
                                {% for product in best_selling_product %}
                                    <div class="single-tab-slider-item">
                                        {% include "binhphuoc/catalogue/partials/product_category_170x257.html" %}
                                    </div>
                                {% endfor %}
                            </div>
                        </div>
                        <div class="tab-pane fade in" id="new-arrivals" role="tabpanel"
                             aria-labelledby="new-arrival-tab">
                            <div class="tab-slider-container">
                                {% for product in random_product %}
                                    <div class="single-tab-slider-item">
                                        {% include "binhphuoc/catalogue/partials/product_category_170x257.html" %}
                                    </div>
                                {% endfor %}
                            </div>
                        </div>
{#                        <div class="tab-pane fade in" id="on-sale" role="tabpanel" aria-labelledby="nav-onsale-tab">#}
{#                            <div class="tab-slider-container">#}
{#                                {% for product in feature_product %}#}
{#                                    <div class="single-tab-slider-item">#}
{#                                        {% include "binhphuoc/catalogue/partials/product_category_170x257.html" %}#}
{#                                    </div>#}
{#                                {% endfor %}#}
{#                            </div>#}
{#                        </div>#}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

