{% load i18n %}
<div id="topnav" class="hidden-phone">
  <div class="container">
  <div class="row">
    <ul class="pull-left">
        <li><a href="{{ homepage_url }}"> {% trans "Trang chủ" %}</a></li>
        <li>|</li>
        <li><a href="/gioi-thieu-ve-chung-toi.html/"> {% trans "Giới thiệu" %}</a></li>
        <li>|</li>
        <li><a href="{% url 'enterprise:index' %}"> {% trans "Doanh nghiệp" %}</a></li>
        <li>|</li>
        <li><a href="{% url 'catalogue:index' %}">{% trans "Sản phẩm" %}</a></li>
        <li>|</li>
        <li><a href="{% url 'news:index' %}">{% trans "Tin tức" %}</a></li>
        <li>|</li>
        <li><a href="{% url 'document:index' %}">{% trans "Văn bản pháp luật" %}</a></li>
    </ul>
  </div>
 </div>
</div>
