{% load i18n %}
{% load staticfiles %}
{% load category_tags %}
{% load v_display_tags %}
<form id="search" method="GET" action="{% url 'search:search' %}">
    <input type="hidden" id="search_select" name="category_id" value="-1"> 
    {{ search_form.q }}
    <button><span class="icon_search"></span></button>
</form>