{% load static %}
{% load i18n %}
<div class="header-top">
    <div class="container" style="background-color:#80bb01;">
        <div class="row" style="padding: 6px;">
            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 text-center text-sm-left" style="color: #fff !important;">
                <i class="fa fa-phone-square" aria-hidden="true"></i>
                <i class="one-space"></i>
                <span class="number">Hotline1: 0911595000   0916350799</span>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12  text-center text-sm-right">
                <div class="header-top-menu">
                    <ul>
                        {% if user.is_authenticated %}
                            {% if user.is_staff or perms.partner.dashboard_access %}
                                <li>
                                    <a href="{% url 'dashboard:index' %}">
                                        <i class="fa fa-list-alt"></i>
                                        <i class="one-space"></i>
                                        Quản trị gian hàng
                                    </a>
                                </li>
                            {% else %}
                                <li>
                                    <a href="{% url 'customer:summary' %}">
                                        <i class="fa fa-user"></i>
                                        <i class="one-space"></i>
                                        {% trans "Account" %}
                                    </a>
                                </li>
                            {% endif %}
                            <li>
                                <a href="{% url 'customer:logout' %}">
                                    <i class="fa fa-sign-out"></i>
                                    <i class="one-space"></i>
                                    {% trans "Logout" %}
                                </a>
                            </li>
                        {% else %}
                            <li>
                                <a href="{% url 'customer:login' %}">
                                    <i class="fa fa-sign-in" aria-hidden="true"></i>
                                    <i class="one-space"></i>{% trans "Đăng nhập" %}
                                </a>
                            </li>
                            <li>
                                <a href="{% url 'customer:register' %}">
                                    <i class="fa fa-user-plus" aria-hidden="true"></i>
                                    <i class="one-space"></i>{% trans "Đăng ký" %}
                                </a>
                            </li>
                        {% endif %}
                        <li>
                            <a href="{% url 'basket:summary' %}">
                                <span class="icon_bag_alt"></span>
                                Giỏ hàng
                                    {% if not request.basket.is_empty %}
                                        <span>[{{ request.basket.num_items }}]</span>
                                    {% else %}
                                        <span>[0]</span>
                                    {% endif %}
                            </a>
                        </li>

{#                        <li class="translation-icons" style="visibility:hidden">#}
{#                            <a href="#" data-lang="vi">#}
{#                                <img src="{% static 'binhphuoc/images/vi.png' %}" />#}
{#                            </a>#}
{#                        </li>#}
{#                        <li class="translation-icons" style="visibility:hidden">#}
{#                            <a href="#" data-lang="en">#}
{#                                <img src="{% static 'binhphuoc/images/en.png' %}" />#}
{#                            </a>#}
{#                        </li>#}
{#                        <li>#}
{#                            <div id="google_translate_element" style="display: none"></div>#}
{#                        </li>#}
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
{% block extrascripts %}
{#    <script type="text/javascript">#}
{#        var tis;#}
{#        function googleTranslateElementInit() {#}
{#            tis = new google.translate.TranslateElement({includedLanguages:'en,vi', layout:google.translate.TranslateElement.InlineLayout.SIMPLE, autoDisplay:false}, 'google_translate_element');#}
{#    }#}
{#    </script>#}
{#    <script type="text/javascript" src="//translate.google.com/translate_a/element.js?cb=googleTranslateElementInit"></script>#}
{#    <script src="http://code.jquery.com/jquery-1.11.3.min.js"></script>#}
{#    <script>#}
{#        $(window).load(function () {#}
{#                $('.translation-icons').css('visibility', 'visible');#}
{#                    $('.translation-icons a').click(function(e) {#}
{#                        e.preventDefault();#}
{#                        var lang = $(this).data('lang');#}
{#                        var $frame = $('.goog-te-menu-frame:first');#}
{#                        var lang_trans = tis.o[lang];#}
{#                        $frame.contents().find('.goog-te-menu2-item span.text:contains('+lang_trans+')').get(0).click();#}
{#                        return false;#}
{#                    });#}
{##}
{#            });#}
{#    </script>#}
{% endblock %}