{% load promotion_tags %}
{% load i18n %}
{% load staticfiles %}
{% load thumbnail %}
{% load v_history_tags %}
{% load request_tag %}
{% load currency_filters %}
{% load purchase_info_tags %}

<div class="slider best-seller-slider mb-35">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <!--=======  category slider section title  =======-->

                <div class="section-title">
                    <h3><a href="{{ featured_category.get_absolute_url }}">{% trans "Sản phẩm bán chạy" %}</a></h3>
                </div>

                <!--=======  End of category slider section title  =======-->
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <!--=======  best seller slider container  =======-->

                <div class="best-seller-slider-container pt-15 pb-15">
                    {% for product in best_selling_product %}
                        <div class="single-best-seller-item">
                            {% include "binhphuoc/catalogue/partials/product_category_170x257.html" %}
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
</div>