{% load widget_tweaks %}

<div class="form-group {% if field.errors %}has-error{% endif %}">

    {% block label %}
        {% if not nolabel and field.widget_type != 'CheckboxInput' %}
            <label for="{{ field.auto_id }}"
                   class="{% if style|default:"stacked" != 'stacked' %}col-sm-3{% endif %} control-label{% if field.field.required %} required{% endif %}">
                {{ field.label|safe }}
            </label>
        {% endif %}
    {% endblock %}

    {% block controls %}
        <div class="{% if style|default:"stacked" != 'stacked' %}col-sm-8{% endif %}">
            {% block widget %}
                {% if field.widget_type == 'CheckboxInput' %}
                    <label for="{{ field.auto_id }}" class="checkbox {% if field.field.required %}required{% endif %}">
                        {{ field.label|safe }}
                        {% render_field field class+="form-control" %}
                    </label>
                {% else %}
                    {% render_field field class+="form-control" %}
                {% endif %}
            {% endblock %}

            {% block errors %}
                {% for error in field.errors %}
                    <span class="error-block"><i class="icon-exclamation-sign"></i> {{ error }}</span>
                {% endfor %}
            {% endblock %}

            {% block help_text %}
                {% if field.help_text %}
                    <span class='help-block'>
                                {# We allow HTML within form help fields #}
                                {{ field.help_text|safe }}
                            </span>
                {% endif %}
            {% endblock %}
        </div>
    {% endblock %}
</div>
{% comment %}
<div id="fullname_error">{{ form.full_name.errors }}</div>
<div id="address_error">{{ form.line1.errors }}</div>
<div id="email_error">{{ form.email.errors }}</div>

<table id="table_dcvc">

    <tr>
        <td class="label"><label for="txtfirstname">Họ & tên :</label></td>
        <td>{{ form.first_name }}</td>
    </tr>

    <tr>
        <td class="label"><label for="txtlastname">Họ & tên :</label></td>
        <td>{{ form.last_name }}</td>
    </tr>

    <tr>
        <td class="label"><label for="txtemail">Email :</label></td>
        <td>{{ form.email }}</td>
    </tr>
    <tr>
        <td class="label"><label for="txtphonenumber">Di động :</label></td>
        <td>{{ form.phone_number }}</td>
    </tr>

    <tr>
        <td class="label"><label for="txtshippingaddress">Địa chỉ giao hàng :</label></td>
        <td>{{ form.line1 }}</td>
    </tr>

    <tr>
        <td><label for="txttablenumber" class="tablenumberlabel">Điện thoại bàn :</label></td>
        <td>{{ form.table_phone }}</td>
    </tr>

    <tr>
        <td class="label"><label for="txtshippingaddress">Quận/Huyện:</label></td>
        <td>{{ form.district }}</td>
    </tr>

    <tr>
        <td class="label"><label for="txtshippingaddress">Tỉnh/Thành phố:</label></td>
        <td>{{ form.city }}</td>
    </tr>

    <tr>
        <td class="label"><label for="txtshippingaddress">Tên nước :</label></td>
        <td>{{ form.country }}</td>
    </tr>

    <tr>
        <td colspan="2" align='center'>
            <div class="xacnhan" id='xacnhanform'>
                <div id='xacnhan-text'>Xác nhận</div>
            </div>
            <input id="resetform" type="reset" class="xacnhan" value="Hủy"/></td>
    </tr>
</table>


<div class="form-group row">
    <div class="col-lg-6">
        <label>Tên: *</label>
        <input type="text" class="form-control" placeholder="Văn Linh">
    </div>
    <div class="col-lg-6">
        <label>Họ: *</label>
        <input type="text" class="form-control" placeholder="Hoàng">
    </div>
</div>
<div class="form-group row mb-5">
    <div class="col-lg-6">
        <label>Số điện thoại: *</label>
        <input type="tel" class="form-control" placeholder="0912345678">
    </div>
    <div class="col-lg-6">
        <label>Email: *</label>
        <input type="email" class="form-control" placeholder="linhhoang@hn.vn">
    </div>
</div>
<div class="form-group row">
    <div class="col-lg-6">
        <label>Địa chỉ (Tầng, nhà, số đường):*</label>
        <input type="text" class="form-control" placeholder="Văn Linh">
    </div>
    <div class="col-lg-6">
        <label>Tỉnh/Thành phố: *</label>
        <select class="custom-select">
            <option value="">Vui lòng chọn</option>
        </select>
    </div>
</div>
<div class="form-group row">
    <div class="col-lg-6">
        <label>Quận/Huyện:*</label>
        <select class="custom-select">
            <option value="">Vui lòng chọn</option>
        </select>
    </div>
    <div class="col-lg-6">
        <label>Phường/Xã: *</label>
        <select class="custom-select">
            <option value="">Vui lòng chọn</option>
        </select>
    </div>
</div>
<div class="form-group row">
    <div class="col-lg-12">
        <label>Ghi chú:</label>
        <input type="text" class="form-control" placeholder="A6 Lô 20">
    </div>
</div>
<div class="form-header-line mb-3">
    <strong>Địa chỉ thanh toán và chuyển hàng khác nhau</strong>
</div>
<div class="form-group row">
    <div class="col-lg-6">
        <label>Tên: *</label>
        <input type="text" class="form-control" placeholder="Văn Linh">
    </div>
    <div class="col-lg-6">
        <label>Họ: *</label>
        <input type="text" class="form-control" placeholder="Hoàng">
    </div>
</div>
<div class="form-group row mb-5">
    <div class="col-lg-6">
        <label>Số điện thoại: *</label>
        <input type="tel" class="form-control" placeholder="0912345678">
    </div>
    <div class="col-lg-6">
        <label>Email: *</label>
        <input type="email" class="form-control" placeholder="linhhoang@hn.vn">
    </div>
</div>
<div class="form-group row">
    <div class="col-lg-6">
        <label>Địa chỉ (Tầng, nhà, số đường):*</label>
        <input type="text" class="form-control" placeholder="Văn Linh">
    </div>
    <div class="col-lg-6">
        <label>Tỉnh/Thành phố: *</label>
        <select class="custom-select">
            <option value="">Vui lòng chọn</option>
        </select>
    </div>
</div>
<div class="form-group row">
    <div class="col-lg-6">
        <label>Quận/Huyện:*</label>
        <select class="custom-select">
            <option value="">Vui lòng chọn</option>
        </select>
    </div>
    <div class="col-lg-6">
        <label>Phường/Xã: *</label>
        <select class="custom-select">
            <option value="">Vui lòng chọn</option>
        </select>
    </div>
</div>{% endcomment %}
