{% load i18n %}
{% load widget_tweaks %}
{% block payment_method %}
    <div class="main-wrapper sign-up container mb-4 g-pb-30">
        <div class="row">
            <h4 class="col-8">
                {% trans "Bạn hãy chọn địa chỉ thanh toán" %}
            </h4>
        </div>
        <hr>
        <div class="col-md-12 pb-3">
            <form action="{% url 'checkout:preview' %}" class="payment-details form-horizontal" method="post">
                {% csrf_token %}
                {{ billing_address_form.non_field_errors }}
                {% if basket.is_shipping_required %}
                    <div class="form-group">
                        <label for="{{ billing_address_form.same_as_shipping.0.id_for_label }}"
                               class="radio lblpayment" style="font-size: 25px;">
                            {{ billing_address_form.same_as_shipping.0.tag }}
                            {{ billing_address_form.same_as_shipping.0.choice_label }}
                        </label>
                    </div>
                    <hr>
                    <div class="form-group">
                        <label for="{{ billing_address_form.same_as_shipping.1.id_for_label }}"
                               class="radio lblpayment" style="font-size: 25px;">
                            {{ billing_address_form.same_as_shipping.1.tag }}
                            {{ billing_address_form.same_as_shipping.1.choice_label }}
                        </label>
                    </div>
                    <div id="billing_address_form" style="display:none">
                {% else %}
                    <div class="form-group">
                        {{ billing_address_form.same_as_shipping }}
                    </div>
                    <div id="billing_address_form" class="form-group">
                {% endif %}
                <div class="form-group">
                    <label class="col-md-2 control-label">{% trans "Danh xưng" %} (*):</label>
                    <div class="col-md-10">
                        {{ billing_address_form.title|add_class:"form-control" }}
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-2 control-label">{% trans "Họ" %} (*):</label>
                    <div class="col-md-10">
                        {{ billing_address_form.first_name|add_class:"form-control" }}
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-2 control-label">{% trans "Tên" %} (*):</label>
                    <div class="col-md-10">
                        {{ billing_address_form.last_name|add_class:"form-control" }}
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-2 control-label">{% trans "Địa chỉ" %} (*):</label>
                    <div class="col-md-10">
                        {{ billing_address_form.line1|add_class:"form-control" }}
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-2 control-label">{% trans "Địa chỉ 2" %}:</label>
                    <div class="col-md-10">
                        {{ billing_address_form.line2|add_class:"form-control" }}
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-2 control-label">{% trans "Mã Post/Zip" %} (*):</label>
                    <div class="col-md-10">
                        {{ billing_address_form.postcode|add_class:"form-control" }}
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-2 control-label">{% trans "Tỉnh/thành phố" %} (*):</label>
                    <div class="col-md-10">
                        {{ billing_address_form.state|add_class:"form-control" }}
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-2 control-label">{% trans "Quốc gia" %} (*):</label>
                    <div class="col-md-10">
                        {{ billing_address_form.country|add_class:"form-control" }}
                    </div>
                </div>
                </div>
                <button type="submit" class="btn btn-small btn-danger"
                        data-loading-text="{% trans 'Submitting...' %}">{% trans "Tiếp tục" %}</button>
            </form>
        </div>
    </div>
{% endblock payment_method %}