{% load i18n %}
{% load currency_filters %}
{% load thumbnail %}
{% load i18n %}
{% load purchase_info_tags %}
{% load staticfiles %}
<div class="main-wrapper cart-page mb-4 container">
    <div class="row">
        <div class="col-lg-8 mb-4">
            <div class="review-shipping-address mb-4">
                {% if shipping_address %}
                    <div class="title-box">
                        <h4 class="col-8 p-0">{% trans "Thông tin giao hàng" %}</h4>
                        <a href="{% url 'checkout:shipping-address' %}" class="col-4">
                            <i class="fa fa-pencil-square-o"></i>
                            {% trans "Change" %}
                        </a>
                    </div>
                    <div class="address-detail">
                        <p>
                            {% if shipping_address.phone_number %}
                                <p>
                                    {% if guest_email %}
                                        <br/>{% trans "Email" %}: {{ guest_email }}
                                    {% endif %}
                                </p>
                            {% endif %}
                        </p>
                        <p>
                            {% for field in shipping_address.active_address_fields %}
                                {% if forloop.first %}
                                    <label>Điện thoại:</label><i class="one-space"></i>
                                    <span>{{ field }}</span>
                                    <br/>
                                {% else %}
                                    <label>Địa chỉ:</label><i class="one-space"></i>
                                    <span>{{ field }}</span>
                                {% endif %}
                            {% endfor %}
                        </p>
                        <p>
                            {% if shipping_address.notes %}
                                <h4>{% trans "Instructions" %}</h4>
                                <p>{{ shipping_address.notes|linebreaks }}</p>
                            {% endif %}
                        </p>
                    </div>
                {% endif %}
            </div>
            {% block payment_details %}
                <div class="review-payment-address mb-4" style="border-top: 1px solid #dee2e6;">
                    {% if billing_address %}
                        <div class="title-box">
                            <h4 class="col-8 p-0">{% trans "Thông tin thanh toán" %}</h4>
                            <a href="{% url 'checkout:payment-details' %}" class="col-4">
                                <i class="fa fa-pencil-square-o"></i>
                                {% trans "Change" %}
                            </a>
                        </div>
                        <div class="payment-detail">
                            <address>
                                {% for field in billing_address.active_address_fields %}
                                    {{ field }}<br/>
                                {% endfor %}
                            </address>
                        </div>
                    {% endif %}
                </div>
            {% endblock payment_details %}

            {% comment %}{% if shipping_method %}
                    <div class="well well-info">
                        {% block shipping_method_actions %}
                            <a href="{% url 'checkout:shipping-method' %}" class="pull-right">
                                <i class="fa fa-pencil-square-o"></i>
                                {% trans "Change" %}
                            </a>
                        {% endblock %}
                        <h3>{% trans "Phương thức vận chuyển" %}</h3>
                        <p>{{ shipping_method.name }}
                            {% if shipping_method.description %}
                                - {{ shipping_method.description|safe }}
                            {% endif %}
                        </p>

                    </div>
                {% endif %}{% endcomment %}


            {% block payment_method %}
                {% comment %}        {# You will almost certainly want to override this block to provide a payment summary #}

            <div class="well well-success" style="height: 490px">
                <h4>{% trans "Phương thức thanh toán" %}</h4>
                <p>{% trans "Giao hàng nhận tiền(COD)" %}</p>
                <div class="alert-actions">
                    <a href="{% url 'checkout:payment-method' %}" class="btn"><i class="fa fa-pencil-square-o"></i>
                        {% trans "Thay đổi phương thức thanh toán" %}</a>
                </div>
            </div>{% endcomment %}
                <div class="title-box">
                    <h4 class="col-8 p-0">Phương thức thanh toán</h4>
                </div>
                <div class="payment-method" style="border-top: 1px solid #dee2e6;">
                    <ul class="nav bn-nav" id="pills-tab" role="tablist">
                        <li class="nav-item">
                            <a class="nav-link active" id="payment-cod-tab" data-toggle="pill" href="#payment-cod"
                               aria-selected="true">
                                <span class="text-nav">Thanh toán tiền mặt</span>
                                <i class="icon-scooter i-nav"></i>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" id="payment-debit-tab" data-toggle="pill" href="#payment-debit"
                               role="tab">
                                <span class="text-nav">Thẻ tín dụng ghi nợ</span>
                                <i class="icon-debit-card i-nav"></i>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" id="payment-atm-tab" data-toggle="pill" href="#payment-atm"
                               role="tab">
                                <span class="text-nav">Thẻ ATM nội địa</span>
                                <i class="icon-atm-machine i-nav"></i>
                            </a>
                        </li>
                    </ul>
                    <div class="tab-content mt-3" id="pills-tabContent">
                        <div class="tab-pane fade show active" id="payment-cod" role="tabpanel">
                            <div class="text-center mb-3">
                                <div class="d-block mb-4">
                                    <img src="{% static "binhphuoc/images/pay-cod.png" %}">
                                </div>
                                <h4 class="mb-2">Bạn đã chọn hình thức Trả tiền mặt</h4>
                                <p>
                                    Bạn sẽ trả tiền cho nhân viên giao hàng
                                </p>
                            </div>
                            <div class="cod-note mt-5">
                                Chú ý:<br/>
                                Vui lòng kiểm tra lại thông tin đơn hàng ở bên phải trước khi bấm hoàn tất đơn
                                hàng.<br/>
                                Sản phẩm sẽ được giao trong thời gian cam kết từ 2 - 10 ngày. Ban theo dõi đơn hàng của
                                bạn qua email hoặc tại mục <a
                                    href="{% url 'customer:profile-view' %}">'Account'</a>.<br/>
                                <p>Thông tin này không thể thay đổi sau khi đơn đặt hàng được xác nhận thành
                                    công.</p>
                                <p>
                                    Vui lòng kiểm tra thông tin đơn đặt hàng thông qua email.
                                </p>
                            </div>


                        </div>
                        <div class="tab-pane fade" id="payment-debit" role="tabpanel">
                            <div class="payment-debit-tab row pb-5">
                                <div class="col-lg-8">
                                    {% comment %} <form>
                                        <div class="form-group ">
                                            <label class="font-weight-bold">Số thẻ:*</label>
                                            <input type="text" class="form-control" placeholder="0987 6543 4644">
                                        </div>
                                        <div class="form-group ">
                                            <label class="font-weight-bold">Chủ thẻ:*</label>
                                            <input type="text" class="form-control" placeholder="NGUYEN VAN ANH">
                                        </div>
                                        <div class="form-group row">
                                            <div class="col-lg-6 ">
                                                <label class="font-weight-bold">Ngày hết hạn :*</label>
                                                <select class="custom-select">
                                                    <option value="">Vui lòng chọn</option>
                                                </select>
                                            </div>
                                            <div class="col-lg-6 ">
                                                <label class="font-weight-bold">&nbsp;</label>
                                                <select class="custom-select">
                                                    <option value="">Vui lòng chọn</option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="form-group ">
                                            <label class="font-weight-bold">CCV/CVV:*</label>
                                            <input type="text" class="form-control" placeholder="2345">
                                        </div>
                                    </form>{% endcomment %}
                                    <h2>Chức năng này đang được bảo trì để nâng cấp. Mong bạn thông cảm vì sự bất tiện
                                        này.</h2>
                                </div>
                                <div class="col-lg-4">
                                    <img src="{% static "binhphuoc/images/pay-card.png" %}" class="w-100">
                                </div>

                            </div>

                        </div>
                        <div class="tab-pane fade" id="payment-atm" role="tabpanel">
                            <div class="pay-atm-tab-content">
                                <form>
                                    <div class="form-group row">
                                        <div class="col-lg-6">
                                            <label class="font-weight-bold">Chọn ngân hàng của bạn:*</label>
                                            <select class="custom-select">
                                                <option value="">Liên hệ với chủ shop theo số hotline</option>
                                            </select>
                                        </div>
                                    </div>
                                </form>
                                <div class="mt-5">
                                    <p>
                                        <strong>
                                            Để thực hiện việc thanh toán, thẻ ATM của bạn đã có đăng ký sử dụng dịch
                                            vụ Internet Banking.
                                        </strong>
                                    </p>
                                    <p>
                                        Bạn thực hiện thanh toán bằng hình thức chuyển khoản với thông tin được chủ shop
                                        cung cấp.
                                    </p>

                                </div>

                            </div>

                        </div>
                    </div>
                </div>
            {% endblock payment_method %}

        </div>

        <div class="col-lg-4">
            {% include "binhphuoc/basket/partials/quick_basket.html" %}
            <div class="col-lg-12 col-md-5 p-0" style="float:right;">
                {% include "binhphuoc/basket/partials/basket_totals.html" %}
                {% block place_order %}
                    <div class="action-form d-flex mt-2">
                        <form method="post" action="{% url 'checkout:preview' %}" id="place_order_form">
                            {% csrf_token %}
                            <input type="hidden" name="action" value="place_order"/>

                            {% comment %}
                    When submitting sensitive data on the payment details page (eg a bankcard)
                    we don't want to save the data and so we pass the bound form to the preview
                    template and render it in a hidden div.  Then the payment information will
                    get re-submitted when the user confirms the order.
                {% endcomment %}
                            <div style="display:none">
                                {% block hiddenforms %}
                                    {{ billing_address_form.as_p }}
                                {% endblock %}
                            </div>
                            <div class="button-actions ml-auto">
                                <div class="row">
                                    <div class="col-sm-3 col-sm-offset-9">
                                        {% comment %}<a href="cart.html" class="text-link text-uppercase mr-2">Quay lại</a>{% endcomment %}
                                        <button id='place-order' type="submit" class="btn btn-cart pl-5 pr-5 place-order" style="width: 200px !important;"
                                                data-loading-text="{% trans 'Đang thực hiện...' %}">{% trans "Hoàn tất đặt hàng" %}</button>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                {% endblock place_order %}
            </div>
        </div>
    </div>
</div>