{% load i18n %}
{% load static %}
{% load thumbnail %}
{% load currency_filters %}
{% load purchase_info_tags %}
{% load widget_tweaks %}

<div class="main-wrapper container">
    <div class="cart-page">
        <div class="payment-page row mt-5 mb-5">
            <div class="col-lg-8">
                {% block old_address_form %}
                    {% if user.is_authenticated %}
                        {% if addresses %}
                            <h3>{% trans "Danh sách địa chỉ trong sổ địa chỉ của bạn?" %}</h3>
                            <hr/>
                            <div class="p-0">
                                <div class="address-book">
                                    <ul class="list-unstyled m-0">
                                        {% for address in addresses %}
                                            {% block select_address_form %}
                                                <li class="address-item">
                                                    <address>
                                                        {% block select_address_fields %}
                                                            {% for field in address.active_address_fields %}
                                                                {% if forloop.first %}
                                                                    <label>Điện thoại:</label><i class="one-space"></i>
                                                                    <span>{{ field }}</span>
                                                                    <br/>
                                                                {% else %}
                                                                    <label>Địa chỉ:</label><i class="one-space"></i>
                                                                    <span>{{ field }}</span>
                                                                {% endif %}
                                                            {% endfor %}
                                                        {% endblock %}
                                                    </address>
                                                    <form action="{% url 'checkout:shipping-address' %}"
                                                          method="post"
                                                          id="select_shipping_address_{{ address.id }}">
                                                        {% csrf_token %}
                                                        <input type="hidden" name="action" value="ship_to"/>
                                                        <input type="hidden" name="address_id"
                                                               value="{{ address.id }}"/>
                                                        {% if address.is_default_for_shipping %}
                                                            <button type="submit"
                                                                    class="btn btn-success btn-sm ship-address"
                                                                    data-loading-text="{% trans 'Saving...' %}"><i
                                                                    class="icon-ok"></i> {% trans "Chuyển tới địa chỉ mặc định này" %}
                                                            </button>
                                                        {% else %}
                                                            <button type="submit"
                                                                    class="btn btn-primary btn-sm ship-address"
                                                                    data-loading-text="{% trans 'Saving...' %}">{% trans "Chuyển tới địa chỉ này" %}</button>
                                                        {% endif %}

                                                        <div class="btn-group address-controls">
                                                            <a href="{% url 'checkout:user-address-update' pk=address.id %}"
                                                               class="btn btn-sm">{% trans "Sửa" %}</a>
                                                            <button class="btn btn-sm dropdown-toggle"
                                                                    data-toggle="dropdown">
                                                                <span class="caret"></span>
                                                            </button>
                                                            <ul class="dropdown-menu">
                                                                <li>
                                                                    <a href="{% url 'checkout:user-address-delete' pk=address.id %}"
                                                                       class="btn-remove-address">{% trans "Xóa" %}</a>
                                                                </li>
                                                            </ul>
                                                        </div>
                                                    </form>
                                                </li>
                                            {% endblock %}
                                        {% endfor %}
                                    </ul>
                                </div>
                            </div>
                        {% endif %}
                    {% endif %}
                {% endblock %}
                {% block new_address_form %}
                    <div class="form-heading d-flex align-items-center mb-3 mt-3">
                        <div class="form-heading-title">
                            <h3>Nhập địa chỉ mới:</h3>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12">
                            <form method="POST" action="{% url 'checkout:shipping-address' %}"
                                  id="new_shipping_address">
                                {% csrf_token %}
                                {% include "partials/form_fields.html" with form=form style='horizontal' %}
                                <div class="action-form d-flex mt-3">
                                    <div class="button-actions ml-auto">
                                        <a href="{% url 'basket:summary' %}" class="place-order text-link text-uppercase mr-2">
                                            Về giỏ hàng
                                        </a>
                                        <button type="submit" class="btn btn-cart pl-5 pr-5 place-order text-uppercase"
                                                data-loading-text="{% trans 'Tiếp tục...' %}">{% trans "Tiếp tục" %}
                                        </button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                {% endblock %}
            </div>
            <div class="col-lg-4">
                {% include "binhphuoc/basket/partials/quick_basket.html" %}
                <div class="summary-quick-cart">
                    <div id="basket_totals">
                        <table class="table table-condensed">
                            <tbody>
                            {% with offer_discounts=basket.offer_discounts voucher_discounts=basket.grouped_voucher_discounts %}
                                {% block discount_totals %}
                                    {% if offer_discounts or voucher_discounts %}
                                        {# Basket total will be discounted so we show a before and after version #}
                                        <tr>
                                            <td>{% trans "Basket total (before discounts)" %}</td>
                                            <td class="total price-total">
                                                {% if basket.is_tax_known and not show_tax_separately %}
                                                    {{ basket.total_incl_tax_excl_discounts|currency:basket.currency }}
                                                {% else %}
                                                    {{ basket.total_excl_tax_excl_discounts|currency:basket.currency }}
                                                {% endif %}
                                            </td>
                                        </tr>

                                        {% for discount in offer_discounts %}
                                            {% if discount.description %}
                                                <tr>
                                                    <td class="basket-discount"><span
                                                            class="label label-success">{% trans "Discount" %}</span> {{ discount.name }}
                                                        <br/>
                                                        <small>{{ discount.description }}</small>
                                                    </td>
                                                    <td class="price-total">
                                                        -{{ discount.discount|currency:basket.currency }}</td>
                                                </tr>
                                            {% endif %}
                                        {% endfor %}

                                        {% if voucher_discounts %}
                                            <tr>
                                                <th colspan="2"><h3>{% trans "Vouchers" %}</h3></th>
                                            </tr>
                                            {% for discount in voucher_discounts %}
                                                <tr>
                                                    <td>
                                                        {{ discount.voucher.name }} ({{ discount.voucher.code }})
                                                        {% if editable %}
                                                            <form action="{% url 'basket:vouchers-remove' pk=discount.voucher.id %}"
                                                                  method="POST">
                                                                {% csrf_token %}
                                                                <input type="submit" value="{% trans 'Remove' %}"
                                                                       class="btn btn-sm btn-danger"/>
                                                            </form>
                                                        {% endif %}
                                                    </td>
                                                    <td class="price-total">
                                                        -{{ discount.discount|currency:basket.currency }}</td>
                                                </tr>
                                            {% endfor %}
                                        {% endif %}
                                    {% endif %}
                                {% endblock %}
                                {% block basket_total %}
                                    {% if offer_discounts or voucher_discounts %}
                                        <tr>
                                            <th class="total1">{% trans "Basket total (after discounts)" %}</th>
                                            <th class="total price-total">
                                                {% if not show_tax_separately and basket.is_tax_known %}
                                                    {{ basket.total_incl_tax|currency:basket.currency }}
                                                {% else %}
                                                    {{ basket.total_excl_tax|currency:basket.currency }}
                                                {% endif %}
                                            </th>
                                        </tr>
                                    {% else %}
                                        {# No discounts to basket #}
                                        <tr>
                                            <th class="total1">{% trans "Tổng giá trị giỏ hàng" %}</th>
                                            <th class="total price-total">
                                                {% if not show_tax_separately and basket.is_tax_known %}
                                                    {{ basket.total_incl_tax|currency:basket.currency }}
                                                {% else %}
                                                    {{ basket.total_excl_tax|currency:basket.currency }}
                                                {% endif %}
                                            </th>
                                        </tr>
                                    {% endif %}
                                {% endblock %}
                            {% endwith %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
