{% load currency_filters %}
{% load i18n %}
{% load shipping_tags %}

{% block shipping_method %}
    <div class="main-wrapper container sign-up mb-4 g-pb-30">
        <div class="basket-title">
            <div class="row">
                <h4 class="col-sm-8">{% trans "Phương thức vận chuyển" %}</h4>
            </div>
        </div>
        <hr/>
        {% for method in methods %}
            <div class="basket-items">
                <div class="row">
                    <div class="col-sm-8">
                        <h4>{{ method.name }}</h4>
                        {% if method.description %}
                            <p>{{ method.description|safe }}</p>
                        {% endif %}
                        {% if method.is_discounted %}
                            <small>
                                {% shipping_charge_discount method basket as discount %}
                                {% blocktrans with amount=discount|currency:basket.currency name=method.discount_name %}
                                    This includes a discount of <strong>{{ amount }}</strong> as
                                    your basket qualifies for the <strong>{{ name }}</strong> offer.
                                {% endblocktrans %}
                            </small>
                        {% endif %}
                    </div>
                    <div class="col-sm-1">
                        {% shipping_charge method basket as charge %}
                        {% if charge.is_tax_known %}
                            {% if charge.incl_tax %}
                                {{ charge.incl_tax|currency:basket.currency }}
                            {% endif %}
                        {% else %}
                            {% if charge.excl_tax %}
                                {{ charge.excl_tax|currency:basket.currency }}
                            {% endif %}
                        {% endif %}
                    </div>
                    <div class="col-sm-3">
                        <form method="post" action="{% url 'checkout:shipping-method' %}">
                            {% csrf_token %}
                            <input type="hidden" name="method_code" value="{{ method.code }}"/>
                            <button type="submit" class="btn btn-lg btn-primary pull-right"
                                    data-loading-text="{% trans 'Submitting...' %}">{% trans "Chọn" %}</button>
                        </form>
                    </div>
                </div>
            </div>
            {% if not forloop.last %}
                <hr/>
            {% endif %}
        {% endfor %}
    </div>
{% endblock shipping_method %}