{% load currency_filters %}
{% load thumbnail %}
{% load i18n %}
{% load staticfiles %}
<div class="container">
    <div class="row">
        <div class="main-wrapper sign-up mb-5">
    <p class="lead">
        Xin chào quý khách <span
            style="color: red;text-transform: uppercase;font-weight: bold;">{{ order.shipping_address.full_name }}</span>!
        Đơn hàng của quý khách với số đơn hàng <span
            style="color: red;font-weight: bold;">{{ order.number }}</span> đã được đặt thành
        công. Chúng tôi sẽ
        tiếp nhận và xử lý đơn hàng của Quý khách.
        Xin chân thành cảm ơn Quý khách đã mua sắm tại <a
            style="color: red;font-weight: bold;" href="/">santmdtbinhphuoc.vn</a>.
    </p>

    <div class="row order-detail mb-2">
        <div class="col-sm-6">
            <div class="order-item">
                {% block shipping_info %}
                    <div class="sub-header">
                        <h3>{% trans "Thông tin vận chuyển:" %}</h3>
                    </div>
                    <hr>
                    <div class="">
                        <h4>{% trans "Address" %}:</h4>
                        {% if order.shipping_address %}
                            <address>
                                {% for field in order.shipping_address.active_address_fields %}
                                    {% if forloop.first %}
                                        <label>Điện thoại:</label><i class="one-space"></i>
                                        <span>{{ field }}</span>
                                        <br/>
                                    {% else %}
                                        <label>Địa chỉ:</label><i class="one-space"></i>
                                        <span>{{ field }}</span>
                                    {% endif %}
                                {% endfor %}
                            </address>
                            {% if order.shipping_address.phone_number %}
                                <p>
                                    {% comment %} {% trans "Điện thoại" %}: {{ order.shipping_address.phone_number }}{% endcomment %}
                                    {% if order.guest_email %}
                                        <br/>{% trans "Email" %}: {{ order.guest_email }}
                                    {% endif %}
                                </p>
                            {% endif %}
                            {% if order.shipping_address.notes %}
                                <strong>{% trans "Chú thích:" %}</strong>
                                <p>{{ order.shipping_address.notes|linebreaks }}</p>
                            {% endif %}
                        {% else %}
                            <p>{% trans "No shipping address required." %}</p>
                        {% endif %}

                        <h4>{% trans "Phương thức giao hàng:" %}</h4>
                        <p>{{ order.shipping_method }}</p>
                    </div>
                {% endblock %}
            </div>
        </div>

        <div class="col-sm-6">
            <div class="order-item">
                {% block payment_info %}
                    <div class="sub-header">
                        <h3>{% trans "Thông tin thanh toán:" %}</h3>
                    </div>
                    <hr>
                    <div class="well well-success">
                        <h4>{% trans "Phương thức thanh toán:" %}</h4>
                        {% for source in order.sources.all %}
                            <p>
                                {% if source.reference %}
                                    {% blocktrans with amount=source.amount_allocated|currency:source.currency type=source.source_type.name reference=source.reference %}
                                        Allocation of {{ amount }} from type {{ type }} (reference: {{ reference }})
                                    {% endblocktrans %}
                                {% else %}
                                    {% comment %}
                                    Tam thoi dung cho mot phuong thuc
                            {% endcomment %}
                                    {% blocktrans with amount=source.amount_allocated|currency:source.currency type=source.source_type.name %}
                                        Thanh toán bằng hình thức giao hàng nhận tiền
                                    {% endblocktrans %}
                                {% endif %}
                            </p>
                        {% empty %}
                            <p>
                                {% trans "No payment was required for this order." %}
                            </p>
                        {% endfor %}

                        {% if order.billing_address %}
                            <h4>{% trans "Billing address" %}:</h4>
                            <address>
                                {% for field in order.billing_address.active_address_fields %}
                                    {{ field }}<br/>
                                {% endfor %}
                            </address>
                        {% endif %}
                    </div>
                {% endblock %}
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-7 mb-4">
            <div class="quick-cart border-0">
                {% comment %}{% purchase_info_for_line request line as session %}{% endcomment %}
                <div class="title-box d-flex align-items-center">
                    <span class="text-uppercase">Thông tin đơn hàng:</span>
                </div>
                <div class="list-in-cart" {% comment %}data-scrollable="true" data-max-height="300"{% endcomment %}>
                    {% for line in order.lines.all %}
                        <div class="item">
                            <div class="content-p-cart ">
                                <div class="info-item d-flex">
                                    <div class="col-7 pl-0">
                                        <div class="head-item">
                                            {% trans "Tên sản phẩm" %}
                                        </div>
                                        <div class="value-item">
                                            {% with image=line.product.primary_image %}
                                                {% thumbnail image.original "60x60" upscale=False as thumb %}
                                                    <a href="{{ line.product.get_absolute_url }}"><img
                                                            class="thumbnail w-100 h-100 pr-2"
                                                            src="{{ thumb.url }}"
                                                            alt="{{ product.get_title }}"></a>
                                                {% endthumbnail %}
                                            {% endwith %}
                                            <a class="name" href="{{ line.product.get_absolute_url }}">
                                                {{ line.description }}
                                            </a>
                                        </div>
                                    </div>
                                    <div class="col-2 pl-0">
                                        <div class="head-item">
                                            {% trans "SL" %}
                                        </div>
                                        <div class="value-item">
                                            {{ line.quantity }}
                                        </div>
                                    </div>
                                    <div class="col-3 pl-0 pr-0">
                                        <div class="head-item">
                                            {% trans "Giá" %}
                                        </div>
                                        <div class="value-item">
                                            {% if show_tax_separately %}
                                                {{ line.line_price_before_discounts_excl_tax|currency:order.currency }}
                                            {% else %}
                                                {{ line.line_price_before_discounts_incl_tax|currency:order.currency }}
                                            {% endif %}
                                        </div>
                                    </div>
                                </div>
                                <div class="ship-info d-flex">
                                    <div class="badge-deliver">
                                        Vận chuyển theo tiêu chuẩn
                                    </div>
                                    <div class="ml-auto mr-4">
                                        2-8 Ngày
                                    </div>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
        {% comment %}<div class="sub-header">
        <h2>{% trans "Thông tin đơn hàng" %}</h2>
    </div>

    <div class="basket-title">
        <div class="row">
            <p class="col-sm-9 h4">{% trans "Sản phẩm đã mua" %}</p>
            <p class="col-sm-1 h4 align-center">{% trans "Số lượng" %}</p>
            <p class="col-sm-2 h4 align-right">{% trans "Thành tiền" %}</p>
        </div>
    </div>

    {% for line in order.lines.all %}
        <div class="basket-items">
            <div class="row">
                <div class="col-sm-2">
                    <div class="image_container">
                    </div>
                </div>
                <div class="col-sm-7">
                    <h3><a href="{{ line.product.get_absolute_url }}">{{ line.description }}</a></h3>
                    <p>
                        {% if line.upc %}{{ line.upc }}<br/>{% endif %}
                        {% if line.est_dispatch_date %}
                            {% blocktrans with date=line.est_dispatch_date %}
                                Estimated dispatch: <strong>{{ date }}</strong>
                            {% endblocktrans %}
                        {% endif %}
                    </p>
                </div>
                <div class="col-sm-1 align-center">
                    {{ line.quantity }}
                </div>
                <div class="col-sm-2 align-right">
                    <p class="price_color">
                        {% if show_tax_separately %}
                            {{ line.line_price_before_discounts_excl_tax|currency:order.currency }}
                        {% else %}
                            {{ line.line_price_before_discounts_incl_tax|currency:order.currency }}
                        {% endif %}
                    </p>
                </div>
            </div>
        </div>
    {% endfor %}{% endcomment %}
        <div class="col-md-5">
            <div class="summary-quick-cart p-2">
                {% block basket_totals %}
                    <div id="basket_totals">
                        <table class="table table-condensed">
                            {% with discounts=order.basket_discounts %}
                                {% block discount_totals %}
                                    {% if discounts %}
                                        <tr>
                                            <td>{% trans "Basket total (before discounts)" %}</td>
                                            <td class="price-total">{{ order.basket_total_before_discounts_incl_tax|currency:order.currency }}</td>
                                        </tr>
                                        {% for discount in discounts %}
                                            <tr>
                                                <td><span
                                                        class="label label-success">{% trans "Discount" %}</span> {{ discount.offer }}
                                                </td>
                                                <td class="price-total">
                                                    - {{ discount.amount|currency:order.currency }}</td>
                                            </tr>
                                        {% endfor %}
                                    {% endif %}
                                {% endblock discount_totals %}

                                {% block basket_total %}
                                    {% if discounts %}
                                        <tr>
                                            <th class="total">{% trans "Basket total (after discounts)" %}</th>
                                            <th class="total price-total">{{ order.basket_total_incl_tax|currency:order.currency }}</th>
                                        </tr>
                                    {% else %}
                                        <tr class="basket-items">
                                            <th class="total">{% trans "Tổng giá trị giỏ hàng" %}</th>
                                            <th class="total price-total">
                                                {% if show_tax_separately %}
                                                    {{ order.basket_total_excl_tax|currency:order.currency }}
                                                {% else %}
                                                    {{ order.basket_total_incl_tax|currency:order.currency }}
                                                {% endif %}
                                            </th>
                                        </tr>
                                    {% endif %}
                                {% endblock basket_total %}
                            {% endwith %}

                            {% block shipping_total %}
                                {% if order.has_shipping_discounts %}
                                    <tr>
                                        <td>{% trans "Shipping charge (before discounts)" %}</td>
                                        <td class="price-total">{{ order.shipping_before_discounts_incl_tax|currency:order.currency }}</td>
                                    </tr>
                                    {% for discount in order.shipping_discounts %}
                                        <tr>
                                            <td><span
                                                    class="label label-success">{% trans "Discount" %}</span> {{ discount.offer }}
                                            </td>
                                            <td class="price-total">
                                                - {{ discount.amount|currency:order.currency }}</td>
                                        </tr>
                                    {% endfor %}
                                    <tr>
                                        <th class="total">{% trans "Shipping charge (after discounts)" %}</th>
                                        <th class="total price-total">{{ order.shipping_incl_tax|currency:order.currency }}</th>
                                    </tr>
                                {% else %}
                                    <tr>
                                        <th class="total">{% trans "Chi phí vận chuyển" %}</th>
                                        <th class="total price-total">
                                            {% if show_tax_separately %}
                                                {{ order.shipping_excl_tax|currency:order.currency }}
                                            {% else %}
                                                {{ order.shipping_incl_tax|currency:order.currency }}
                                            {% endif %}
                                        </th>
                                    </tr>
                                {% endif %}
                            {% endblock shipping_total %}

                            {% if show_tax_separately %}
                                <tr>
                                    <th colspan="2">&nbsp;</th>
                                </tr>
                                <tr>
                                    <th class="total">{% trans "Order tax" %}</th>
                                    <th class="total price-total">
                                        {{ order.total_tax|currency:order.currency }}
                                    </th>
                                </tr>
                            {% endif %}

                            {% block post_order_action_totals %}
                                {% with actions=order.post_order_actions %}
                                    {% if actions %}
                                        <tr>
                                            <th colspan="2">&nbsp;</th>
                                        </tr>
                                        <tr>
                                            <th colspan="2"><h3>{% trans "Post order actions" %}</h3></th>
                                        </tr>
                                        {% for action in order.post_order_actions %}
                                            <tr>
                                                <td class="total" colspan="2"><p>{{ action.message }}</p></td>
                                            </tr>
                                        {% endfor %}
                                    {% endif %}
                                {% endwith %}
                            {% endblock post_order_action_totals %}

                            {% block order_total %}
                                <tr>
                                    <td class="total">{% trans "Tổng giá trị đơn hàng" %}</td>
                                    <td class="total price-total">{{ order.total_incl_tax|currency:order.currency }}</td>
                                </tr>
                            {% endblock order_total %}
                        </table>
                    </div>
                {% endblock basket_totals %}
                {% block order_actions %}
                    <div class="sum-item text-right">
                        <a onclick="window.print()" href="#">
                            <span class="btn btn-cart-next place-order" style="width:150px;">{% trans "In trang này" %}</span>
                        </a>
                        <a href="{{ homepage_url }}">
                            <span class="btn btn-cart-next ml-2 place-order" style="width: 200px;">{% trans "Tiếp tục mua hàng" %}</span>
                        </a>
                    </div>
                {% endblock order_actions %}
            </div>
        </div>
    </div>
    {% block order_tracking %}
        {% if not order.user %}
            <div class="sub-header">
                <h2>{% trans "Tracking your order" %}</h2>
            </div>
            <p>{% trans "You can track the status of your order" %}</p>
            <a class="btn btn-primary"
               href="{% url 'customer:anon-order' order_number=order.number hash=order.verification_hash %}">{% trans "View order status" %}</a>
            .
        {% endif %}
    {% endblock %}


</div>
    </div>
</div>
