{% extends "binhphuoc/layout_2_col.html" %}
{% load i18n %}
{% load static %}
{% load widget_tweaks %}

{% block title %}Liên Hệ{% endblock %}

{% block layout %}
    <header id="js-header" class="u-header u-header--static">
        {# Top-horizontal bar with account, notifictions, dashboard links #}
        {% include "binhphuoc/partials/top_header.html" %}
        {% include "binhphuoc/partials/nav_primary.html" %}
    </header>

    <section class="g-py-10">
        <div class="container g-bg-cover__inner">
            <ul class="u-list-inline breadcrumb_last">
                <li class="list-inline-item g-mr-7">
                    <a class="u-link-v5 g-color-main" href="{{ homepage_url }}">Trang chủ</a>
                    <i class="fa fa-angle-right g-ml-7"></i>
                </li>
                <li class="list-inline-item g-mr-7">
                    <span class="u-link-v5 g-color-main">Liên hệ</span>
                    <i class="fa fa-angle-right g-ml-7"></i>
                </li>
                <li class="list-inline-item g-color-primary">
                    <span>{% trans "Gửi thành công" %}</span>
                </li>
            </ul>
        </div>
    </section>

    <section class="main_content g-py-40 g-bg-gray-light-v5 g-brd-bottom g-brd-gray-light-v3">
        <div class="container">
            <div class="g-brd-around u-shadow-v19 g-brd-gray-light-v4 rounded g-pa-15 g-bg-white">
                <div class="service-inner">
                    <div class="title-service">
                        <span class="my-service color-darkred">
                            Cám ơn bạn!
                        </span>
                        <div class="content-my-service">
                            <span>Gửi liên hệ thành công. Chúng tôi sẽ liên hệ lại với bạn trong thời gian sớm nhất. Cảm ơn bạn đã sử dụng dịch vụ của chúng tôi.</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    {% include "binhphuoc/partials/footer.html" %}
{% endblock %}

