<!DOCTYPE html>
<html lang="vi">
<head>
    <meta charset="UTF-8">
    <title>Thông tin liên hệ</title>
</head>
<body>
<div>
    <span>Kính gửi quản trị viên website</span>
    <br/>
    <span>Website vừa có nhận được thông tin liên hệ từ</span>
    <br/>
    <span>Tên khách hàng: </span><span>{{ name }}</span>
    <br/>
    <span>Công ty </span><span>{{ company_name }}</span>
    <br/>
    <span>Email: </span><span>{{ email }}</span>
    <br/>
    <span>Số điện thoại: </span><span>{{ tel }}</span>
    <br/>
    <span>Nội dung liên hệ:</span>
    <br/>
    <span>{{ body }}</span>
</div>
</body>
</html>