{% extends "binhphuoc/layout_2_col.html" %}
{% load i18n %}
{% load static %}
{% load thumbnail %}
{% load i18n %}
{% load v_display_tags %}
{% load widget_tweaks %}
{% block extrastyles %}
    <link href="{% static "binhphuoc/css/flexslider.css" %}" rel="stylesheet">
{% endblock %}

{% block title %}
    {% trans 'Danh sách doanh nghiệp' %}
{% endblock %}

{% block breadcrumbs %}
    <li class="active">
        <a href="{% url 'enterprise:index' %}">{% trans "Danh sách doanh nghiệp" %}</a>
    </li>
{% endblock %}

{% block main_content %}
    <div class="company-list">
        <div class="container">
            <div class="row">
                <div class="col">
                    <h1 class="text-center g-mb-10">Danh sách doanh nghiệp</h1>
                    <div class="container">
                        <div class="row justify-content-center">
                            <div class="col-sm-12 col-md-12 col-xs-12 col-lg-12 mb-30">
                                <!-- Login Form s-->
                                {% block content_form %}
                                <form id="enterprise_search_form" method="GET" action="." enctype="">
                                    <div class="login-form">
                                        <h4 class="login-title">Tìm kiếm doanh nghiệp</h4>
                                    <div class="row">
                                            <div class="col-md-4 col-12 mb-20">
                                                <label>Tên doanh nghiệp</label>
                                                {{ form.name|add_class:"mb-0"|attr:"placeholder: Tên doanh nghiệp" }}
                                            </div>
                                            <div class="col-md-4 col-12 mb-20">
                                                <label>Ngành hàng</label>
                                                {{ form.category|add_class:"mb-0"}}
                                            </div>
                                            <div class="col-md-4 col-12 mb-20">
                                                <label>Quận/Huyện</label>
                                                {{ form.district|add_class:"mb-0"}}
                                            </div>
                                            <div class="col-12">
                                                <button name="enterprise_search_submit" type="submit"
                                                        class="register-button mt-0"
                                                        data-loading-text="{% trans 'Searching...' %}">
                                                    {% trans "Search" %}
                                                </button>
                                            </div>

                                        </div>
                                    </div>
                                </form>
                                {% endblock %}
                            </div>
                        </div>
                    </div>
                    <div class="text-small g-mb-10">
                        {% if paginator.count %}
                            {% if paginator.num_pages > 1 %}
                                (
                                {% blocktrans with start=page_obj.start_index end=page_obj.end_index count num_results=paginator.count %}
                                    Có <strong>{{ num_results }}</strong> doanh nghiệp - hiển thị từ
                                    <strong>{{ start }}</strong> đến <strong>{{ end }}</strong>.
                                {% plural %}
                                    Có <strong>{{ num_results }}</strong> doanh nghiệp - hiển thị từ
                                    <strong>{{ start }}</strong> đến <strong>{{ end }}</strong>.
                                {% endblocktrans %}
                                )
                            {% else %}
                                (
                                {% blocktrans count num_results=paginator.count %}
                                    Có <strong>1</strong> doanh nghiệp.
                                {% plural %}
                                    Có <strong>{{ num_results }}</strong> doanh nghiệp.
                                {% endblocktrans %}
                                )
                            {% endif %}
                        {% else %}
                            <p>
                                {% trans "<strong>0</strong> results." %}
                            </p>
                        {% endif %}
                    </div>
                    <div class="table-responsive">
                        <table class="table">
                            <thead>
                            <tr class="text-uppercase">
                                <th>#</th>
                                <th>Logo</th>
                                <th>Tên doanh nghiệp</th>
                                <th>Địa chỉ</th>
                                <th width="150">Điện thoại</th>
                                <th>Ngành hàng</th>
                            </tr>
                            </thead>

                            <tbody>
                            {% if enterprises %}
                                {% for enterprise in enterprises %}
                                    <tr class="{% if forloop.counter|divisibleby:"2" %}g-bg-secondary{% endif %}">
                                        <td>{{ forloop.counter }}</td>
                                        <td class="g-pa-5">
                                            {% if enterprise.logo %}
                                                {% with image=enterprise.logo %}
                                                    {% thumbnail image "110x110" padding=True crop="center" as thumb %}
                                                        <img class="d-inline-block g-brd-gray-light-v4 g-brd-around g-width-120 g-mr-15"
                                                             src="{{ thumb.url }}" alt="{{ enterprise.name }}">
                                                    {% endthumbnail %}
                                                {% endwith %}
                                            {% else %}
                                                <img class="d-inline-block g-brd-gray-light-v4 g-brd-around g-width-120 g-mr-15"
                                                     src="{% static 'binhphuoc/images/default.png' %}"
                                                     alt="{{ enterprise.name }}">
                                            {% endif %}
                                        </td>
                                        <td>
                                            <div class="d-inline-block align-middle">
                                                <h4 class="h6 g-color-black g-font-weight-700 text-uppercase">
                                                    <a href="{{ enterprise.get_absolute_url }}"
                                                       title="{{ enterprise.name }}">
                                                        {{ enterprise.name }}
                                                    </a>
                                                </h4>
                                            </div>
                                            <!-- End Table Info -->
                                        </td>
                                        <td>
                                            <em class="g-font-style-normal g-color-gray-dark-v5">
                                                {{ enterprise.primary_address.summary }}
                                            </em>
                                        </td>
                                        <td>
                                            <em class="g-font-style-normal g-color-gray-dark-v5">
                                                {{ enterprise.primary_address.mobile_phone }}
                                            </em>
                                        </td>
                                        <td>
                                            <em class="g-font-style-normal g-color-gray-dark-v5">
                                                {% if enterprise.category %}
                                                    <ul class="list-unstyled">
                                                        {% for category in enterprise.category.all %}
                                                            <li>{{ category.name }}</li>
                                                        {% endfor %}
                                                    </ul>
                                                {% endif %}
                                            </em>
                                        </td>
                                    </tr>
                                {% endfor %}
                                <tr>
                                    <td colspan="6"
                                        class="text-right">{% paginator 2 "binhphuoc/partials/pagination.html" %}</td>
                                </tr>
                            {% else %}
                                <tr class="g-bg-secondary">
                                    <td colspan="6">Không có doanh nghiệp</td>
                                </tr>
                            {% endif %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}