{% extends "binhphuoc/layout_2_col.html" %}
{% load i18n %}
{% load static %}
{% load thumbnail %}
{% load v_display_tags %}
{% load category_tags %}
{% load widget_tweaks %}


{% block title %}
    {{ enterprise.name }} | {{ block.super }}
{% endblock %}

{% block description %}
    {{ enterprise.description|default:""|striptags }}
{% endblock %}

{% block headertext %}{{ enterprise.name }}{% endblock %}

{% block breadcrumbs %}
    <li>
        <a href="{% url 'enterprise:index' %}">Doanh nghiệp</a>
    </li>
    <li class="active">
        <a>{{ enterprise.name }}</a>
    </li>
{% endblock %}

{% block main_content %}
    <div class="shop-page-container mb-50">
		<div class="container">
			<div class="row">
				<div class="col-lg-3 order-2 order-lg-1">
					<!--=======  sidebar area  =======-->

					<div class="sidebar-area">
                        <!--=======  single sidebar  =======-->

						<div class="sidebar mb-35">
							<h3 class="sidebar-title">{{ enterprise.name }}</h3>

                            <div class="img-fluid">
                                {% if enterprise.logo %}
                                    {% thumbnail enterprise.logo "215x98" padding=True as thumb %}
                                        <img src="{{ thumb.url }}" alt="{{ enterprise.name }}">
                                    {% endthumbnail %}
                                {% endif %}
                            </div>
                        <h4><img src="{% static "binhphuoc/images/icons/contact-icon1.png"%}" alt=""> Địa chỉ</h4>
							<p>{{ enterprise.primary_address.summary }}</p>

                        <h4><img src="{% static "binhphuoc/images/icons/contact-icon2.png" %}" alt=""> Điện thoại</h4>
                                                    <p>Mobile: {{ enterprise.primary_address.mobile_phone }}</p>
                                                    <p>Hotline: {{ enterprise.primary_address.home_phone }}</p>
                        <h4><img src="{% static "binhphuoc/images/icons/contact-icon3.png" %}" alt=""> Email</h4>
							<p>{{ enterprise.primary_address.email }}</p>
                        <h4><img src="{% static "binhphuoc/images/icons/contact-icon4.png" %}" alt=""> Website</h4>
							<p>
                                <a href="{{ enterprise.primary_address.website }}" target="_blank">
                                    {{ enterprise.primary_address.website }}
                                </a>
                            </p>

						</div>

                        <div class="sidebar">
                            <h3 class="sidebar-title">Ngành hàng</h3>
                            <!--=======  tag container  =======-->

                            <ul class="tag-container">
                                {% if enterprise.category %}
                                    <li>
                                        {% for category in enterprise.category.all %}
                                            <a href="{{ category.get_absolute_url }}">
                                                {{ category.name }}
                                            </a>

                                        {% endfor %}
                                    </li>
                                {% endif %}
                            </ul>
                            <!--=======  End of tag container  =======-->
                        </div>
						<!--=======  End of single sidebar  =======-->

					</div>
					<!--=======  End of sidebar area  =======-->
				</div>
				<div class="col-lg-9 order-1 order-lg-2 mb-sm-35 mb-xs-35">


					<!--=======  shop page banner  =======-->
                    {% if enterprise.banner %}
					<div class="shop-page-banner mb-35">
						<a href="{{ enterprise.primary_address.website }}" target="_blank">
                            {% thumbnail enterprise.banner "870x331" crop='center' upscale='True' as thumb %}
                                <img class="img-fluid" src="{{ thumb.url }}"
                                     alt="">
                            {% endthumbnail %}

						</a>
					</div>
                    {% endif %}

					<!--=======  End of shop page banner  =======-->

					<!--=======  Shop header  =======-->

					<div class="shop-header mb-35">
                    <form method="get">
						<div class="row">
							<div class="col-lg-4 col-md-4 col-sm-12 d-flex align-items-center">
								<!--=======  view mode  =======-->

								<div class="view-mode-icons mb-xs-10">
									<a href="#" data-target="grid"><i class="fa fa-th"></i></a>
									<a class="active" href="#" data-target="list"><i class="fa fa-list"></i></a>
								</div>

								<!--=======  End of view mode  =======-->

							</div>
							<div class="col-lg-8 col-md-8 col-sm-12 d-flex flex-column flex-sm-row justify-content-between align-items-left align-items-sm-center">
								<!--=======  Sort by dropdown  =======-->
                                {% if form %}
                                <div class="sort-by-dropdown d-flex align-items-center mb-xs-10">
                                        {% include "binhphuoc/partials/sortby_form_field.html" with field=form.sort_by %}
                                        {% for field in form %}
                                            {% if field.value and field.html_name != 'sort_by' %}
                                                {% render_field field class+="hidden_field" %}
                                            {% endif %}
                                        {% endfor %}
                                </div>
                                {% endif %}
								<!--=======  End of Sort by dropdown  =======-->
                                {% if paginator.count %}
                                        <p class="result-show-message">
                                        {% if paginator.num_pages > 1 %}
                                            (
                                            {% blocktrans with start=page_obj.start_index end=page_obj.end_index count num_results=paginator.count %}
                                                <strong>{{ num_results }}</strong> sản phẩm - hiển thị từ  sản phẩm
                                                <strong>{{ start }}</strong> đến <strong>{{ end }}</strong>.
                                            {% plural %}
                                                <strong>{{ num_results }}</strong> sản phẩm - hiển thị từ  sản phẩm
                                                <strong>{{ start }}</strong> đến <strong>{{ end }}</strong>.
                                            {% endblocktrans %}
                                            )
                                        {% else %}
                                            (
                                            {% blocktrans count num_results=paginator.count %}
                                                <strong>1</strong> sản phẩm.
                                            {% plural %}
                                                <strong>{{ num_results }}</strong> sản phẩm.
                                            {% endblocktrans %}
                                            )
                                        {% endif %}
                                        </p>
                                    {% else %}
                                        <p class="result-show-message">
                                            {% trans "<strong>0</strong> results." %}
                                        </p>
                                    {% endif %}
							</div>
						</div>
                    </form>
					</div>

					<!--=======  End of Shop header  =======-->

					<!--=======  Grid list view  =======-->

					<div class="shop-product-wrap list row no-gutters mb-35">
                        {% if products %}
                        {% for product in products %}
                            {% include "binhphuoc/catalogue/partials/product_category_350x350.html" %}
                        {% endfor %}
                        {% endif %}
					</div>
					<!--=======  End of Grid list view  =======-->

					<!--=======  Pagination container  =======-->
                    {% paginator 2 "binhphuoc/partials/pagination.html" %}
					<!--=======  End of Pagination container  =======-->

				</div>
			</div>
		</div>
	</div>
{% endblock %}

{% block extrascripts %}
    <script src="{% static "binhphuoc/js/ui.js" %}" type="text/javascript" charset="utf-8"></script>
    <script defer src="{% static "binhphuoc/js/lazysizes.min.js" %}"></script>
{% endblock %}
{% block onbodyload %}
    {{ block.super }}
    oscar.search.init();
{% endblock %}