{% load staticfiles %}
{% load thumbnail %}

<div class="slider brand-logo-slider mb-35">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <!--=======  blog slider section title  =======-->

                <div class="section-title">
                    <h3>Doanh nghiệp</h3>
                </div>

                <!--=======  End of blog slider section title  =======-->
            </div>
        </div>

        <div class="row">
            <div class="col-lg-12">
                <!--=======  brand logo wrapper  =======-->

                <div class="brand-logo-wrapper pt-20 pb-20">
                    {% for enterprise in enterprises %}
                        {% if enterprise.logo %}
                            <div class="col">
                                <div class="single-brand-logo">
                                    <a href="{{ enterprise.get_absolute_url }}">
                                        {% with image=enterprise.logo %}
                                            {% if image %}
                                                {% thumbnail image "186x92" padding=True as thumb %}
                                                    <img class="img-fluid" src="{{ thumb.url }}"
                                                         alt="{{ enterprise.name }}">
                                                {% endthumbnail %}
                                            {% else %}
                                                <img class="img-fluid"
                                                     src="{% static "binhphuoc/images/brands/brand1.png" %}">
                                            {% endif %}
                                        {% endwith %}
                                    </a>
                                </div>
                            </div>
                        {% endif %}
                    {% endfor %}
                    <!--=======  End of single-brand-logo  =======-->
                </div>

                <!--=======  End of brand logo wrapper  =======-->
            </div>
        </div>
    </div>
</div>