{% extends "binhphuoc/layout_2_col.html" %}
{% load i18n %}
{% load static %}
{% load widget_tweaks %}

{% block title %}
    {% trans "Thanh toán" %} | {{ block.super }}
{% endblock %}
{% block extrastyles %}
    <link href="{% static "binhphuoc/plugins/scrollbar/jquery.mCustomScrollbar.min.css" %}" rel="stylesheet">
{% endblock %}

{% block breadcrumbs %}
        <li>
            <a href="{% url 'basket:summary' %}">{% trans "Giỏ hàng" %}</a>
        </li>
        <li>
            <a href="{% url 'checkout:shipping-address' %}">{% trans "Thông tin giao hàng" %}</a>
        </li>
        <li >
            <a href="{% url 'checkout:shipping-method' %}">{% trans "Phương thức giao hàng" %}</a>
        </li>
        <li class="active">{% trans "Thanh toán" %}</li>
    </ul>
{% endblock %}

{% block main_content %}
    {% include 'binhphuoc/checkout/partials/payment_detail_content.html' %}
{% endblock main_content %}

{% block extrascripts %}
    <script src="{% static "binhphuoc/js/ui.js" %}" type="text/javascript" charset="utf-8"></script>
    <script defer src="{% static "binhphuoc/plugins/scrollbar/jquery.mCustomScrollbar.concat.min.js" %}"></script>
{% endblock %}
{% block onbodyload %}
    {{ block.super }}
    {# Toggle visibility of the billing address form #}
    if ($("input[name='same_as_shipping']")[1].checked){
    $("#billing_address_form").show();
    }
    $("input[name='same_as_shipping']").change(function(){
    $("#billing_address_form").toggle();
    });
{% endblock %}