{% extends "binhphuoc/layout_2_col.html" %}
{% load i18n %}
{% load static %}
{% load widget_tweaks %}

{% block title %}
    {% trans "Thông tin giao hàng" %} | {{ block.super }}
{% endblock %}
{% block extrastyles %}
    <link href="{% static "binhphuoc/plugins/scrollbar/jquery.mCustomScrollbar.min.css" %}" rel="stylesheet">
{% endblock %}

{% block breadcrumbs %}
        <li>
            <a href="{% url 'basket:summary' %}">{% trans "Giỏ hàng" %}</a>
        </li>
        <li class="active">{% trans "Thông tin giao hàng" %}</li>
{% endblock %}


{% block main_content %}
    {% include 'binhphuoc/checkout/partials/shipping_address_content.html' %}
{% endblock main_content %}

{% block extrascripts %}
    <script src="{% static "binhphuoc/js/ui.js" %}" type="text/javascript" charset="utf-8"></script>
    <script defer src="{% static "binhphuoc/plugins/scrollbar/jquery.mCustomScrollbar.concat.min.js" %}"></script>
{% endblock %}
{% block onbodyload %}
    {{ block.super }}
    {# We pass in the URL to send AJAX requests to #}
    var options = {
    'basketURL': '{% url 'basket:summary' %}'
    };
    oscar.basket.init(options);
{% endblock %}