{% extends "binhphuoc/layout_2_col.html" %}
{% load i18n %}
{% load static %}
{% load widget_tweaks %}

{% block title %}
    {% trans "Xác nhận" %} | {{ block.super }}
{% endblock %}
{% block extrastyles %}
    <link href="{% static "binhphuoc/plugins/scrollbar/jquery.mCustomScrollbar.min.css" %}" rel="stylesheet">
{% endblock %}

{% block breadcrumbs %}
        <li class="active">{% trans "Đặt hàng thành công!" %}</li>
    </ul>
{% endblock %}

{% block main_content %}
    {% include 'binhphuoc/checkout/partials/thank_yout_content.html' %}
{% endblock main_content %}


{% block extrascripts %}
    <script src="{% static "binhphuoc/js/ui.js" %}" type="text/javascript" charset="utf-8"></script>
    <script defer src="{% static "binhphuoc/plugins/scrollbar/jquery.mCustomScrollbar.concat.min.js" %}"></script>
{% endblock %}
{% block onbodyload %}
    {{ block.super }}
{% endblock %}