{% load v_display_tags %}
{% load i18n %}
{% if paginator.num_pages > 1 %}
<div class="pagination-container">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <!--=======  pagination-content  =======-->

                <div class="pagination-content text-center">
                    <ul>
                        {% if page_obj.has_previous %}
                            <li class="page-item disabled">
                                <a href="?{% get_parameters page %}page={{ page_obj.previous_page_number }}" aria-label="Previous">
                                    <span aria-hidden="true"><i class="fa fa-angle-left"></i></span>
                                    <span class="sr-only">Previous</span>
                                </a>
                            </li>
                        {% endif %}
                        {% if show_first %}
                            <li>
                                <a class="page-link" href="?{% get_parameters page %}page=1">1</a>
                                <span>...</span>
                            </li>
                        {% endif %}
                        {% for num in page_numbers %}
                            {% ifequal num page_obj.number %}
                                <li><a class="page-link active" href="?{% get_parameters page %}page={{ num }}">{{ num }}</a></li>
                            {% else %}
                                <li><a class="page-link" href="?{% get_parameters page %}page={{ num }}">{{ num }}</a></li>
                            {% endifequal %}
                        {% endfor %}
                        {% if show_last %}
                            <li>
                                <span>...</span>
                                <a href="?{% get_parameters page %}page={{paginator.num_pages}}">{{paginator.num_pages}}</a>
                            </li>
                        {% endif %}
                        {% if page_obj.has_next %}
                            <li>
                                <a href="?{% get_parameters page %}page={{ page_obj.next_page_number }}" aria-label="Next">
                                    <span aria-hidden="true"><i class="fa fa-angle-right"></i></span>
                                    <span class="sr-only">Next</span>
                                </a>
                            </li>
                        {% endif %}
                    </ul>
                </div>
                <!--=======  End of pagination-content  =======-->
            </div>
        </div>
    </div>
</div>
{% endif %}