{% extends 'dashboard/layout.html' %}
{% load i18n %}
{% load render_table from django_tables2 %}

{% block body_class %}{{ block.super }} document{% endblock %}

{% block title %}
    {% trans "Danh sách văn bản pháp luật" %} | {{ block.super }}
{% endblock %}

{% block breadcrumbs %}
    <ul class="breadcrumb">
        <li>
            <a href="{% url 'dashboard:index' %}">{% trans "Dashboard" %}</a>
        </li>
        <li class="active">{% trans "Văn bản pháp luật" %}</li>
    </ul>
{% endblock %}

{{% block header %}
    <div class="page-header">
        <a href="{% url 'dashboard:document-item-create' %}" class="btn btn-primary btn-lg pull-right"><i class="icon-plus"></i> {% trans "Thêm mới văn bản" %}</a>
        <h1>{% trans "Danh sách văn bản pháp luật" %}</h1>
    </div>
{% endblock header %}

{% block dashboard_content %}
    {% block search_products %}
        <div class="table-header">
            <h3><i class="icon-search icon-large"></i>{% trans "Tìm kiếm" %}</h3>
        </div>
        <div class="well">
            <form action="." method="get" class="form-inline">
                {% comment %}
                    Add the current query string to the search form so that the
                    sort order is not reset when searching.
                {% endcomment %}
                {% for name, value in request.GET.items %}
                    {% if name not in form.fields %}
                        <input type="hidden" name="{{ name }}" value="{{ value }}"/>
                    {% endif %}
                {% endfor %}
                {% include "dashboard/partials/form_fields_inline.html" with form=form %}
                <button type="submit" class="btn btn-primary" data-loading-text="{% trans 'Searching...' %}">{% trans "Search" %}</button>
            </form>
        </div>
    {% endblock %}

    {% if document_items %}
        {% block document_item_list %}
            <form action="." method="post">
                {% csrf_token %}
                {% render_table document_items %}
            </form>
        {% endblock document_item_list %}
    {% else %}
        <p>{% trans "No document item found." %}</p>
    {% endif %}

{% endblock dashboard_content %}
