{% extends 'dashboard/layout.html' %}
{% load i18n %}

{% block body_class %}{{ block.super }} create-page{% endblock %}

{% block breadcrumbs %}
    <ul class="breadcrumb">
        <li>
            <a href="{% url 'dashboard:index' %}">{% trans "Dashboard" %}</a>
        </li>
        <li>
        <a href="{% url 'dashboard:document-item-list' %}">{% trans "Tin tức" %}</a>
    </li>
    <li class="active">{% trans "Delete document?" %}</li>
</ul>
{% endblock %}

{% block headertext %}
    {% trans "Delete document?" %}
{% endblock %}

{% block dashboard_content %}
    <div class="table-header">
        <h2>{% trans "Delete document" %}</h2>
    </div>
    <form action="." method="post" class="well">
        {% csrf_token %}
        {{ form }}
        {% blocktrans with name=object.title %}
            <p>Delete document <strong>{{ name }}</strong> - are you sure?</p>
        {% endblocktrans %}
        <div class="form-actions">
            <button type="submit" class="btn btn-danger" data-loading-text="{% trans 'Deleting...' %}">{% trans "Delete" %}</button>
        {% trans "or" %} <a href="{% url 'dashboard:document-item-list' %}">{% trans "Cancel" %}</a>
    </div>
</form>
{% endblock %}
