{% extends 'dashboard/layout.html' %}
{% load currency_filters %}
{% load i18n %}
{% load thumbnail %}
{% load v_display_tags %}
{% load static %}

{% block breadcrumbs %}
<ul class="breadcrumb">
    <li>
        <a href="{% url 'dashboard:index' %}">{% trans "Dashboard" %}</a>
        <span class="divider">/</span>
    </li>
    <li class="active">Xóa banner</li>
</ul>
{% endblock %}

{% block headertext %}
Xóa banner ?
{% endblock %}

{% block dashboard_content %}
<div class="table-header">
    <h2>Xóa banner </h2>
</div>
<form action="." method="post" class="well">
    {% csrf_token %}
    {{ form }}
    <p>Bạn có chắc chắn xóa banner <strong>{{ banner.banner_name }}</strong> không ?</p>
    <div class="form-actions">
		<button type="submit" class="btn btn-danger">{% trans "Delete" %}</button>
		{% trans "or" %} <a href="{% url 'dashboard:banner-list' %}">{% trans "Cancel" %}</a>
    </div>
</form>
{% endblock %}