{% extends 'dashboard/layout.html' %}
{% load i18n %}
{% load render_table from django_tables2 %}

{% block body_class %}{{ block.super }} banner{% endblock %}

{% block title %}
    {% trans "Banner" %} | {{ block.super }}
{% endblock %}

{% block breadcrumbs %}
    <ul class="breadcrumb">
        <li>
            <a href="{% url 'dashboard:index' %}">{% trans "Dashboard" %}</a>
        </li>
        <li class="active">{% trans "Banner" %}</li>
    </ul>
{% endblock %}

{{% block header %}
    <div class="page-header">
        <a href="{% url 'dashboard:banner-create' %}" class="btn btn-primary btn-lg pull-right"><i class="icon-plus"></i> {% trans "Create new banner item" %}</a>
        <h1>{% trans "Banners" %}</h1>
    </div>
{% endblock header %}

{% block dashboard_content %}
    {% block search_products %}
        <div class="table-header">
            <h3><i class="icon-search icon-large"></i>{% trans "Search Banners" %}</h3>
        </div>
        <div class="well">
            <form action="." method="get" class="form-inline">
                {% comment %}
                    Add the current query string to the search form so that the
                    sort order is not reset when searching.
                {% endcomment %}
                {% for name, value in request.GET.items %}
                    {% if name not in form.fields %}
                        <input type="hidden" name="{{ name }}" value="{{ value }}"/>
                    {% endif %}
                {% endfor %}
                {% include "dashboard/partials/form_fields_inline.html" with form=form %}
                <button type="submit" class="btn btn-primary" data-loading-text="{% trans 'Searching...' %}">{% trans "Search" %}</button>
            </form>
        </div>
    {% endblock %}

    {% if banners %}
        {% block banners %}
            <form action="." method="post">
                {% csrf_token %}
                {% render_table banners %}
            </form>
        {% endblock banners %}
    {% else %}
        <p>{% trans "No banner item found." %}</p>
    {% endif %}

{% endblock dashboard_content %}
