{% extends 'dashboard/layout.html' %}
{% load currency_filters %}
{% load i18n %}
{% load thumbnail %}
{% load v_display_tags %}
{% load static %}

{% block breadcrumbs %}
<ul class="breadcrumb">
    <li>
        <a href="{% url 'dashboard:index' %}">{% trans "Dashboard" %}</a>
        <span class="divider">/</span>
    </li>
    <li class="active">Tạo video</li>
</ul>
{% endblock %}

{% block dashboard_content %}
    <div class="table-header">
        <h2>Tạo video</h2>
    </div>
    <div class="well">
        {% include 'partials/form.html' with includes_files=1 class='wysiwyg' %}
    </div>
{% endblock dashboard_content %}
