{% load thumbnail %}
{% load currency_filters %}
{% load staticfiles %}
{% load i18n %}
{% load purchase_info_tags %}
{% purchase_info_for_product request product as session %}
<a href="{{ product.get_absolute_url }}" title="{{ product.get_title }} | {{ session.stockrecord.partner }}">
    <div style="height: 100%;">
        <div class="p-image">
            {% with image=product.primary_image %}
            {% thumbnail image.original "165x165" padding=true as thumb %}
              <img src="{{ thumb.url }}">
            {% endthumbnail %}
            {% endwith %}
        </div>
        <div class="p-q-view">
            <div class="p-name">
              {{ product.get_title|truncatewords:6 }}
            </div>
            <div class="p-desc">
              {{ product.get_category_names.0|truncatewords:4 }}
            </div>
        </div>
    </div>
</a>