{% load thumbnail %}
{% load currency_filters %}
{% load i18n %}
{% load staticfiles %}
{% load purchase_info_tags %}
{% load reviews_tags %}
{% purchase_info_for_product request product as session %}

<div class="gf-product tab-slider-sub-product">
    <div class="image">
        {% with image=product.primary_image %}
            {% if image %}
                {% thumbnail image.original "350x350" crop='center' upscale=True  padding=True as thumb %}
                    <img class="img-fluid" src="{{ thumb.url }}">
                {% endthumbnail %}
                {% else %}
                <img class="img-fluid" src="{% static "binhphuoc/images/products/products01.jpg" %}">
            {% endif %}
        {% endwith %}
    </div>
    <div class="product-content">
        <div class="product-categories">
            <a href="#" class="text-capitalize ">
                {{ product.get_category_names.0|truncatewords:4|lower }}
            </a>
        </div>
        <h3 class="product-title">
            <a href="{{ product.get_absolute_url }}"
               title="{{ product.get_title }} | {{ session.stockrecord.partner }}" class="text-capitalize">
                {{ product.get_title|truncatewords:6|lower }}
            </a>
        </h3>
        <div class="price-box">
            {% if session.price.exists %}
                {% if session.price.excl_tax == 0 %}
                    <span class="discounted-price">{% trans "Liên hệ" %}</span>
                {% elif session.price.is_tax_known %}
                    <span class="discounted-price">
                                {{ session.price.incl_tax|currency:session.price.currency }}
                            </span>
                {% else %}
                    <span class="discounted-price">
                                {{ session.price.excl_tax|currency:session.price.currency }}
                            </span>
                {% endif %}
            {% else %}
                <span class="discounted-price">&nbsp; </span>
            {% endif %}
            {% comment %}<span class="discounted-price">$80.00</span>{% endcomment %}
        </div>
        {% comment %}<div class="p-rate">
            <div class="star-rating {{ product.rating|as_stars }}">
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
            </div>

            <div class="rate-comment">
                {% if product.calculate_rating %}
                    <span style="color: #cd0a0a;">{{ product.calculate_rating|floatformat:1 }}*</span>
                {% else %}
                    <span></span>
                {% endif %}
                {% block product_review %}
                    {% if product.num_approved_reviews %}
                        <span>({{ product.num_approved_reviews }})</span>
                    {% else %}
                        <span>(0)</span>
                    {% endif %}
                {% endblock product_review %}
            </div>
        </div>{% endcomment %}
    </div>
</div>