{% load thumbnail %}
{% load currency_filters %}
{% load i18n %}
{% load staticfiles %}
{% load purchase_info_tags %}
{% load reviews_tags %}
{% purchase_info_for_product request product as session %}


<div class="col-xl-4 col-lg-4 col-md-6 col-sm-6 col-12">
    <!--=======  Grid view product  =======-->

    <div class="gf-product shop-grid-view-product">
        <div class="image">
            <a href="{{ product.get_absolute_url }}">
{#                <span class="onsale">Sale!</span>#}
                {% with image=product.primary_image %}
                    {% if image %}
                        {% thumbnail image.original "350x350" crop='center' upscale=True  padding=True as thumb %}
                            <img class="img-fluid" src="{{ thumb.url }}">
                        {% endthumbnail %}
                        {% else %}
                        <img class="img-fluid" src="{% static "binhphuoc/images/products/products01.jpg" %}">
                    {% endif %}
                {% endwith %}
            </a>
{#            <div class="product-hover-icons">#}
{#                <a href="#" data-tooltip="Add to cart"> <span class="icon_cart_alt"></span></a>#}
{#                <a href="#" data-tooltip="Add to wishlist"> <span class="icon_heart_alt"></span> </a>#}
{#                <a href="#" data-tooltip="Compare"> <span class="arrow_left-right_alt"></span> </a>#}
{#                <a href="#" data-tooltip="Quick view" data-toggle="modal" data-target="#quick-view-modal-container"> <span class="icon_search"></span> </a>#}
{#            </div>#}
        </div>
        <div class="product-content">
            <div class="product-categories">
                {% for category_name in product.get_category_names %}
                <a href="#">{{ category_name|truncatewords:4|lower }}</a>
                    {% if not forloop.first %}
                        {% if not forloop.last %}
                            ,
                        {% endif %}
                    {% endif %}
                {% endfor %}
            </div>
            <h3 class="product-title">
                <a href="{{ product.get_absolute_url }}"
                   title="{{ product.get_title }} | {{ session.stockrecord.partner }}" class="text-capitalize">
                    {{ product.get_title|truncatewords:6|lower }}
                </a>
            </h3>
            <div class="price-box">
                {% if session.price.exists %}
                    {% if session.price.excl_tax == 0 %}
                        <span class="discounted-price">{% trans "Liên hệ" %}</span>
                    {% elif session.price.is_tax_known %}
                        <span class="discounted-price">
                                    {{ session.price.incl_tax|currency:session.price.currency }}
                                </span>
                    {% else %}
                        <span class="discounted-price">
                                    {{ session.price.excl_tax|currency:session.price.currency }}
                                </span>
                    {% endif %}
                {% else %}
                    <span class="discounted-price">&nbsp; </span>
                {% endif %}
                {% comment %}<span class="main-price">$80.00</span>{% endcomment %}
            </div>
        </div>

    </div>

    <!--=======  End of Grid view product  =======-->

    <!--=======  Shop list view product  =======-->

    <div class="gf-product shop-list-view-product">
        <div class="image">
            <a href="{{ product.get_absolute_url }}">
{#                <span class="onsale">Sale!</span>#}
                {% with image=product.primary_image %}
                    {% if image %}
                        {% thumbnail image.original "350x350" crop='center' upscale=True  padding=True as thumb %}
                            <img class="img-fluid" src="{{ thumb.url }}">
                        {% endthumbnail %}
                        {% else %}
                        <img class="img-fluid" src="{% static "binhphuoc/images/products/products01.jpg" %}">
                    {% endif %}
                {% endwith %}
            </a>
{#            <div class="product-hover-icons">#}
{#                <a href="#" data-tooltip="Quick view" data-toggle="modal" data-target="#quick-view-modal-container"> <span class="icon_search"></span> </a>#}
{#            </div>#}
        </div>
        <div class="product-content">
            <div class="product-categories">
                {% for category_name in product.get_category_names %}
                <a href="#">{{ category_name|truncatewords:4|lower }}</a>
                    {% if not forloop.first  %}
                        {% if not forloop.last %}
                            ,
                        {% endif %}
                    {% endif %}
                {% endfor %}
            </div>
            <h3 class="product-title">
                <a href="{{ product.get_absolute_url }}"
                   title="{{ product.get_title }} | {{ session.stockrecord.partner }}" class="text-capitalize">
                    {{ product.get_title|truncatewords:6|lower }}
                </a>
            </h3>
            <div class="price-box mb-20">
{#                <span class="main-price">$89.00</span>#}
                {% if session.price.exists %}
                    {% if session.price.excl_tax == 0 %}
                        <span class="discounted-price">{% trans "Liên hệ" %}</span>
                    {% elif session.price.is_tax_known %}
                        <span class="discounted-price">
                                    {{ session.price.incl_tax|currency:session.price.currency }}
                                </span>
                    {% else %}
                        <span class="discounted-price">
                                    {{ session.price.excl_tax|currency:session.price.currency }}
                                </span>
                    {% endif %}
                {% else %}
                    <span class="discounted-price">&nbsp; </span>
                {% endif %}
            </div>
            <p class="product-description">
               {{ product.description|default:""|safe| truncatewords:38 }}
            </p>
{#            <div class="list-product-icons">#}
{#                <a href="#" data-tooltip="Add to cart"> <span class="icon_cart_alt"></span></a>#}
{#                <a href="#" data-tooltip="Add to wishlist"> <span class="icon_heart_alt"></span> </a>#}
{#                <a href="#" data-tooltip="Compare"> <span class="arrow_left-right_alt"></span> </a>#}
{#            </div>#}
        </div>

    </div>

    <!--=======  End of Shop list view product  =======-->
</div>
