{% extends "binhphuoc/layout.html" %}
{% load i18n %}
{% load static %}
{% load thumbnail %}

{% block title %}
    {{ flatpage.title }} | {{ block.super }}
{% endblock %}

{% block layout %}
    <header>
        {# Top-horizontal bar with account, notifictions, dashboard links #}
        {% include "binhphuoc/partials/top_header.html" %}
        {% include "binhphuoc/partials/nav_primary.html" %}
    </header>
    {# Main content of page - other layout templates may override this block #}
    <div class="breadcrumb-area">
        <div class="container">
            <div class="row">
                <div class="col">
                    <div class="breadcrumb-container">
                        <ul>
                            <li>
                                <a href="{{ homepage_url }}"><i class="fa fa-home mr-1"></i>{% trans "Home" %}</a>
                            </li>
                            <li class="active">
                                <span> {{ flatpage.title }} </span>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="blog-page-container mb-50">
        <div class="container">
            <div class="row">
                <div class="col">
                    <div class="blog-post-container">
                        <div class="single-blog-post mb-35">
                            {% if user.is_authenticated and user.is_staff %}
                                <a class="pull-right hidden-xs"
                                   href="{% url 'dashboard:page-update' pk=flatpage.id %}">
                                    <small>(<i
                                            class="icon-edit"></i>{% trans "Edit this page" %}
                                        )
                                    </small>
                                </a>
                            {% endif %}
                            <div class="single-blog-post-content">
                                <h3 class="post-title text-center">{{ flatpage.title }}</h3>
                                <p class="post-excerpt m-0">
                                    {{ flatpage.content|safe }}
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {# footer #}
    {% include "binhphuoc/partials/footer.html" %}
{% endblock %}