{% extends "binhphuoc/layout_2_col.html" %}
{% load i18n %}
{% load static %}
{% load widget_tweaks %}

{% block title %}
    {% trans "Đăng nhập" %} | {{ block.super }}
{% endblock %}

{% block extrastyles %}
    <link href="{% static "binhphuoc/plugins/jstree/themes/default/style.min.css" %}" rel="stylesheet">
{% endblock %}

{% block breadcrumbs %}
   <li class="active">{% trans "Đăng nhập" %}</li>
{% endblock %}

{% block main_content %}
<div class="page-content mb-50">
    <div class="container">
			<div class="row justify-content-center">
				<div class="col-sm-12 col-md-12 col-xs-12 col-lg-6 mb-30">
					<!-- Login Form s-->
					<form id="login_form" action="." method="post">
                        {% csrf_token %}
						<div class="login-form">
							<h4 class="login-title">ĐĂNG NHẬP</h4>
                            {% if login_form.is_bound and not login_form.is_valid %}
                                    <div class="alert alert-danger row">
                                        <strong>{% trans "Có một vài lỗi xảy ra!" %}</strong>
                                        - {% trans "Vui lòng kiểm tra lại các thông tin ở dưới và thử lại" %}
                                    </div>
                            {% endif %}
                            {% if login_form.non_field_errors %}
                                {% for error in login_form.non_field_errors %}
                                    <div class="alert alert-danger row">
                                        <i class="icon-exclamation-sign"></i> {{ error }}
                                    </div>
                                {% endfor %}
                            {% endif %}
							<div class="row">
								<div class="col-md-12 col-12 mb-20">
                                    {% if login_form.username.errors %}
                                        {% for error in login_form.username.errors %}
                                            <div class="alert alert-danger">{{ error }}</div>
                                        {% endfor %}
                                    {% endif %}
									<label>Địa chỉ email*</label>
                                    {% render_field login_form.username class+="mb-0" %}
								</div>
								<div class="col-12 mb-20">
                                    {% if login_form.password.errors %}
                                        {% for error in login_form.password.errors %}
                                            <div class="alert alert-danger">{{ error }}</div>
                                        {% endfor %}
                                    {% endif %}
									<label>Mật khẩu</label>
                                    {% render_field login_form.password class+="mb-0" %}
								</div>
								<div class="col-md-4 mt-10 mb-20 text-left text-md-right">
									<a href="{% url 'password-reset' %}">
                                        {% trans "Quên mật khẩu?" %}
                                    </a>
								</div>

								<div class="col-md-12">
                                    <button name="login_submit" type="submit"
                                            class="register-button mt-0"
                                            data-loading-text="{% trans "Logging in..." %}">{% trans "Đăng nhập" %}</button>
                                    <input type="hidden" value="
                                            {% if request.REQUEST.next %}
                                                {{ request.REQUEST.next }}
                                            {% else %}
                                                {% if request.META.HTTP_REFERER %}
                                                  {{ request.META.HTTP_REFERER }}
                                                 {% else %}
                                                 /
                                                {% endif %}
                                            {% endif %}"
                                           name="next"/>
								</div>

							</div>
						</div>

					</form>
				</div>

			</div>
		</div>
</div>
{% endblock %}

{% block extrascripts %}
    <script type="text/javascript" src="{% static "binhphuoc/plugins/jstree/jstree.min.js" %}"></script>
{% endblock %}
