{% extends "binhphuoc/layout.html" %}
{% load i18n %}
{% load static %}
{% load thumbnail %}
{% load widget_tweaks %}

{% block title %}
    Đăng ký tài khoản thành công | {{ block.super }}
{% endblock %}

{% block layout %}
    <header>
        {# Top-horizontal bar with account, notifictions, dashboard links #}
        {% include "binhphuoc/partials/top_header.html" %}
        {% include "binhphuoc/partials/nav_primary.html" %}
    </header>
    {# Main content of page - other layout templates may override this block #}
    <div class="breadcrumb-area">
        <div class="container">
            <div class="row">
                <div class="col">
                    <div class="breadcrumb-container">
                        <ul>
                            <li>
                                <a href="{{ homepage_url }}"><i class="fa fa-home mr-1"></i>{% trans "Home" %}</a>
                            </li>
                            <li class="active">
                                <span> Đăng ký tài khoản thành công </span>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="blog-page-container mb-50">
        <div class="google-map-container mb-70 container">
            <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d15637.197715713359!2d106.891109!3d11.5303651!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x9f7b19821f067e0e!2zU-G7nyBDw7RuZyBUaMawxqFuZyB04buJbmggQsOsbmggUGjGsOG7m2M!5e0!3m2!1sen!2s!4v1583316621803!5m2!1sen!2s" width="100%" height="400" frameborder="0" style="border:0; margin-top: 10px;"allowfullscreen=""></iframe>
		</div>
        <div class="container">
            <div class="row">
                <div class="col-lg-3 col-md-4 mb-xs-35">
					<!--=======  contact page side content  =======-->
					<div class="contact-page-side-content">
						<h3 class="contact-page-title">Liên hệ</h3>
						<!--=======  single contact block  =======-->
						<div class="single-contact-block">
							<h4><img src="{% static "binhphuoc/images/icons/contact-icon1.png"%}" alt="">Địa chỉ</h4>
                            <p>Sở Công Thương tỉnh Bình Phước</p>
                            <p>Địa chỉ: Đường Hùng Vương, phường Tân Bình, TP. Đồng Xoài, tỉnh Bình Phước</p>
						</div>
						<!--=======  End of single contact block  =======-->
						<!--=======  single contact block  =======-->
						<div class="single-contact-block">
							<h4><img src="{% static "binhphuoc/images/icons/contact-icon2.png"%}" alt="">Điện thoại</h4>
							<p>(0271) 3870 235</p>
						</div>
						<!--=======  End of single contact block  =======-->
						<!--=======  single contact block  =======-->
						<div class="single-contact-block">
							<h4><img src="{% static "binhphuoc/images/icons/contact-icon3.png"%}" alt=""> Email</h4>
							<p>sct@binhphuoc.gov.vn</p>
						</div>
						<!--=======  End of single contact block  =======-->
					</div>
					<!--=======  End of contact page side content  =======-->
				</div>
                <div class="col-lg-9 col-md-8 pl-100 pl-xs-15">
                    <div class="contact-form-content">
						<h3 class="contact-page-title">Bạn đã đăng ký tài khoản bán hàng thành công. Chúng tôi sẽ kiểm tra và kích hoạt tài khoản trong thời gian sớm nhất!</h3>
						<p class="form-messege pt-10 pb-10 mt-10 mb-10"></p>
					</div>
                </div>
            </div>
        </div>
    </div>
    {# footer #}
    {% include "binhphuoc/partials/footer.html" %}
{% endblock %}