{% extends "binhphuoc/layout_2_col.html" %}
{% load i18n %}
{% load static %}
{% load widget_tweaks %}

{% block title %}
    {% trans "Đăng ký" %} | {{ block.super }}
{% endblock %}

{% block breadcrumbs %}
    <li class="active">{% trans "Đăng ký" %}</li>
{% endblock %}
{% block main_content %}
<div class="page-content mb-50">
    <div class="container">
			<div class="row justify-content-center">
				<div class="col-sm-12 col-md-12 col-xs-12 col-lg-6 mb-30">
					<!-- Login Form s-->
                    {% block content_form %}
					<form id="register_form" method="POST" action="." enctype="">
                        {% csrf_token %}
						<div class="login-form">
							<h4 class="login-title">ĐĂNG KÝ TÀI KHOẢN</h4>
                            <div class="row justify-content-center">
                                <div class="h5">
                                    <span>Bạn vui lòng chọn đối tượng khách hàng:</span>
                                </div>
                                <div class="row">
                                    <button type="button" class="btn mr-5 btn-persion" style="height: 125px;" disabled>
                                        <i class="fa fa-user-plus" aria-hidden="true"
                                           style="font-size: 70px;margin: 5px;"></i>
                                        <p>Cá nhân</p>
                                    </button>

                                    <a href="{% url 'customer:create-partner' %}">
                                        <button type="button" class="btn btn-enterprise" style="height: 125px;">
                                            <i class="fa fa-building" aria-hidden="true"
                                               style="font-size: 70px;margin: 5px;"></i>
                                            <p>Doanh nghiệp</p>
                                        </button>
                                    </a>
                                </div>
                            </div>
                            {% if form.is_bound and not form.is_valid %}
                                    <div class="alert alert-danger row">
                                        <strong>{% trans "Có một vài lỗi xảy ra!" %}</strong>
                                        - {% trans "Vui lòng kiểm tra lại các thông tin ở dưới và thử lại" %}
                                    </div>
                            {% endif %}
                            {% if form.non_field_errors %}
                                {% for error in form.non_field_errors %}
                                    <div class="alert alert-danger row">
                                        <i class="icon-exclamation-sign"></i> {{ error }}
                                    </div>
                                {% endfor %}
                            {% endif %}
                        <div class="row">
								<div class="col-md-12 col-12 mb-20">
                                    {% if form.email.errors %}
                                        {% for error in form.email.errors %}
                                            <div class="alert alert-danger">{{ error }}</div>
                                        {% endfor %}
                                    {% endif %}
									<label>Địa chỉ email*</label>
                                    {{ form.email|add_class:"mb-0"|attr:"placeholder:Email" }}

								</div>
								<div class="col-12 mb-20">
                                    {% if form.password1.errors %}
                                        {% for error in form.password1.errors %}
                                            <div class="alert alert-danger">{{ error }}</div>
                                        {% endfor %}
                                    {% endif %}
									<label>Mật khẩu:*</label>
                                    {{ form.password1|add_class:"mb-0"|attr:"placeholder:Mật khẩu" }}
								</div>
                                <div class="col-12 mb-20">
                                    {% if form.password2.errors %}
                                        {% for error in form.password2.errors %}
                                            <div class="alert alert-danger">{{ error }}</div>
                                        {% endfor %}
                                    {% endif %}
                                    <label>
                                        Nhập lại mật khẩu:*
                                    </label>
                                    {{ form.password2|add_class:"mb-0"|attr:"placeholder:Nhập lại mật khẩu" }}
                                </div>

								<div class="col-md-12 mt-10 mb-20 text-left text-md-right">
                                    Đã có tài khoản? Bấm vào <a href="{% url 'customer:login' %}"><strong>Đăng nhập</strong></a> ngay
								</div>

								<div class="col-md-12">
                                    <button name="registration_submit" type="submit"
                                            value="Register"
                                            class="register-button mt-0"
                                            data-loading-text="{% trans "Registering..." %}">{% trans "Đăng ký" %}
                                    </button>
								</div>

							</div>
						</div>
					</form>
                    {% endblock %}
				</div>

			</div>
		</div>
</div>
{% endblock %}