{% extends "binhphuoc/customer/registration.html" %}
{% load form_tags %}
{% load i18n %}
{% load category_tags %}
{% load widget_tweaks %}

{% block content_form %}
    <form id="partner_form" method="POST" action="." enctype="multipart/form-data">
        {% csrf_token %}
        <div class="login-form">
            <h4 class="login-title">ĐĂNG KÝ TÀI KHOẢN</h4>
            <div class="row justify-content-center">
                <div class="h5">
                    <span>Bạn vui lòng chọn đối tượng khách hàng:</span>
                </div>
                <div class="row">
                    <a href="{% url 'customer:register' %}">
                    <button type="button" class="btn mr-5 btn-persion" style="height: 125px;">
                        <i class="fa fa-user-plus" aria-hidden="true"
                           style="font-size: 70px;margin: 5px;"></i>
                        <p>Cá nhân</p>
                    </button>
                    </a>
                    <a href="{% url 'customer:create-partner' %}">
                        <button type="button" class="btn btn-enterprise" style="height: 125px;" disabled>
                            <i class="fa fa-building" aria-hidden="true"
                               style="font-size: 70px;margin: 5px;"></i>
                            <p>Doanh nghiệp</p>
                        </button>
                    </a>
                </div>
            </div>

        <h4 class="login-title">Thông tin doanh nghiệp::</h4>
        {% if forms.partner_form.is_bound and not forms.partner_form.is_valid %}
        <div class="alert alert-danger row">
            <strong>{% trans "Có một vài lỗi xảy ra!" %}</strong>
            - {% trans "Vui lòng kiểm tra lại các thông tin ở dưới và thử lại" %}
        </div>
        {% endif %}
        {% if forms.partner_form.non_field_errors %}
            {% for error in forms.partner_form.non_field_errors %}
                <div class="alert alert-danger row">
                    <i class="icon-exclamation-sign"></i> {{ error }}
                </div>
            {% endfor %}
        {% endif %}

        <div class="row">
                <div class="col-md-12 col-12 mb-20">
                    {% if forms.partner_form.name.errors %}
                        {% for error in forms.partner_form.name.errors %}
                            <div class="alert alert-danger">{{ error }}</div>
                        {% endfor %}
                    {% endif %}
                    <label>Tên doanh nghiệp:*</label>
                    {{ forms.partner_form.name|add_class:"mb-0"|attr:"placeholder:Công ty TNHH ABC" }}

                </div>
                <div class="col-md-12 col-12 mb-20">
                    {% if forms.partner_form.type.errors %}
                        {% for error in forms.partner_form.type.errors %}
                            <div class="alert alert-danger">{{ error }}</div>
                        {% endfor %}
                    {% endif %}
                    <label>Loại hình doanh nghiệp:*</label>
                    {{ forms.partner_form.type|add_class:"mb-0" }}
                </div>
                <div class="col-md-12 col-12 mb-20">
                    {% if forms.partner_form.category.errors %}
                        {% for error in forms.partner_form.category.errors %}
                            <div class="alert alert-danger">{{ error }}</div>
                        {% endfor %}
                    {% endif %}
                    <label>Danh mục:*</label>
                    {{ forms.partner_form.category|add_class:"mb-0" }}
                </div>
                <div class="col-md-12 col-12 mb-20">
                    {% if forms.partner_form.logo.errors %}
                        {% for error in forms.partner_form.logo.errors %}
                            <div class="alert alert-danger">{{ error }}</div>
                        {% endfor %}
                    {% endif %}
                    <label>Logo:*</label>
                    {{ forms.partner_form.logo|add_class:"mb-0" }}
                </div>
                <div class="col-md-12 col-12 mb-20">
                    {% if forms.partner_form.banner.errors %}
                        {% for error in forms.partner_form.banner.errors %}
                            <div class="alert alert-danger">{{ error }}</div>
                        {% endfor %}
                    {% endif %}
                    <label>Banner:*</label>
                    {{ forms.partner_form.banner|add_class:"mb-0" }}
                </div>
                <div class="col-md-12 col-12 mb-20">
                    {% if forms.partner_form.about.errors %}
                        {% for error in forms.partner_form.about.errors %}
                            <div class="alert alert-danger">{{ error }}</div>
                        {% endfor %}
                    {% endif %}
                    <label>Giới thiệu doanh nghiệp:*</label>
                    {{ forms.partner_form.about|add_class:"mb-0" }}
                </div>
        </div>

        <h4 class="login-title">Thông tin tài khoản:</h4>
        {% if forms.user_form.is_bound and not forms.user_form.is_valid %}
        <div class="alert alert-danger row">
            <strong>{% trans "Có một vài lỗi xảy ra!" %}</strong>
            - {% trans "Vui lòng kiểm tra lại các thông tin ở dưới và thử lại" %}
        </div>
        {% endif %}
        {% if forms.user_form.non_field_errors %}
            {% for error in forms.user_form.non_field_errors %}
                <div class="alert alert-danger row">
                    <i class="icon-exclamation-sign"></i> {{ error }}
                </div>
            {% endfor %}
        {% endif %}

        <div class="row">
                <div class="col-md-12 col-12 mb-20">
                    {% if forms.user_form.email.errors %}
                        {% for error in forms.user_form.email.errors %}
                            <div class="alert alert-danger">{{ error }}</div>
                        {% endfor %}
                    {% endif %}
                    <label>Địa chỉ email*</label>
                    {{ forms.user_form.email|add_class:"mb-0"|attr:"placeholder:Email" }}

                </div>
                <div class="col-12 mb-20">
                    {% if forms.user_form.password1.errors %}
                        {% for error in forms.user_form.password1.errors %}
                            <div class="alert alert-danger">{{ error }}</div>
                        {% endfor %}
                    {% endif %}
                    <label>Mật khẩu:*</label>
                    {{ forms.user_form.password1|add_class:"mb-0"|attr:"placeholder:Mật khẩu" }}
                </div>
                <div class="col-12 mb-20">
                    {% if forms.user_form.password2.errors %}
                        {% for error in forms.user_form.password2.errors %}
                            <div class="alert alert-danger">{{ error }}</div>
                        {% endfor %}
                    {% endif %}
                    <label>
                        Nhập lại mật khẩu:*
                    </label>
                    {{ forms.user_form.password2|add_class:"mb-0"|attr:"placeholder:Nhập lại mật khẩu" }}
                </div>
                <div class="col-md-12 mt-10 mb-20 text-left text-md-right">
                    Đã có tài khoản? Bấm vào <a href="{% url 'customer:login' %}"><strong>Đăng nhập</strong></a> ngay
                </div>
                <div class="col-md-12">
                    <button name="registration_submit" type="submit"
                            value="Register"
                            class="register-button mt-0"
                            data-loading-text="{% trans "Registering..." %}">{% trans "Đăng ký" %}
                    </button>
                </div>
        </div>
        </div>
    </form>
{% endblock %}

