{% load i18n %}
{% load static %}
{% load thumbnail %}
{% load currency_filters %}
{% load purchase_info_tags %}
{% load widget_tweaks %}
<div class="page-section section mb-50">
        <div class="container">
            <div class="row">
                <div class="col-12">
                        <!--=======  cart table  =======-->
                        <div class="cart-table table-responsive mb-40">
                        {% if not basket.is_empty %}
                        {% block basket_form_main %}
                            <form action="." method="post" id="basket_formset">
                                {% csrf_token %}
                                {{ formset.management_form }}
                            <table class="table">
                                <thead>
                                    <tr>
                                        <th class="pro-thumbnail">Ảnh</th>
                                        <th class="pro-title">Tên sản phẩm</th>
                                        <th class="pro-price">Giá</th>
                                        <th class="pro-quantity">Số lượng</th>
                                        <th class="pro-subtotal">Thành tiền</th>
                                        <th class="pro-remove">Xóa</th>
                                    </tr>
                                </thead>
                                <tbody>
                                {% for form in formset %}
                                {% with line=form.instance product=form.instance.product %}
                                {% purchase_info_for_line request line as session %}
                                    <tr>
                                        <td class="pro-thumbnail">
                                            {{ form.id }}
                                            {% with image=product.primary_image %}
                                            {% thumbnail image.original "350x350" upscale=False as thumb %}
                                                <a href="{{ product.get_absolute_url }}">
                                                    <img class="img-fluid" src="{{ thumb.url }}"
                                                         alt="{{ product.get_title }}"/>
                                                </a>
                                            {% endthumbnail %}
                                            {% endwith %}
                                        </td>
                                        <td class="pro-title">
                                            <a href="{{ product.get_absolute_url }}">{{ line.description }}</a>
                                        </td>
                                        <td class="pro-price">
                                            <span>
                                            {% if line.is_tax_known %}
                                                {{ line.unit_price_incl_tax|currency:line.price_currency }}
                                            {% else %}
                                                {{ line.unit_price_excl_tax|currency:line.price_currency }}
                                            {% endif %}
                                            </span>
                                        </td>
                                        <td class="pro-quantity">
                                            <div class="pro-qty">
                                                {{ form.quantity|attr:"type:number"}}
                                                <a href="#" class="inc qty-btn">
                                                    +
                                                </a>
                                                <a href="#" class="dec qty-btn">
                                                    -
                                                </a>
                                            </div>
                                        </td>
                                        <td class="pro-subtotal">
                                            <span>
                                                {% if line.is_tax_known %}
                                                    {{ line.line_price_incl_tax|currency:line.price_currency }}
                                                {% else %}
                                                    {{ line.line_price_excl_tax|currency:line.price_currency }}
                                                {% endif %}
                                            </span>
                                        </td>
                                        <td class="pro-remove">
                                            <a href="#" data-id="{{ forloop.counter0 }}"
                                                       data-behaviours="remove"
                                                       class="inline">
                                                        <i class="fa fa-trash-o"></i>
                                            </a>
                                        </td>
                                    </tr>
                                {% endwith %}
                                {% endfor %}
                                </tbody>
                            </table>
                            </form>
                        {% endblock basket_form_main %}
                        {% else %}
                            {% block emptybasket %}
                                <p>
                                    {% trans "Giỏ hàng trống." %}
                                    <a href="{{ homepage_url }}">{% trans "Tiếp tục mua hàng" %}</a>
                                </p>
                            {% endblock %}
                        {% endif %}
                        </div>

                        <!--=======  End of cart table  =======-->
                    <div class="row">
                        <div class="col-lg-12 col-12 d-flex">
                            <!--=======  Cart summery  =======-->
                            <div class="cart-summary">
                                <div class="cart-summary-wrap">
                                <h4>Giỏ hàng</h4>
                                    <h2>{% trans "Tổng giá trị giỏ hàng:" %}
                                        <span>
                                        {% if order_total.is_tax_known %}
                                            {{ order_total.incl_tax|currency:basket.currency }}
                                        {% else %}
                                            {{ order_total.excl_tax|currency:basket.currency }}
                                        {% endif %}
                                        </span>
                                    </h2>
                                </div>
{#                                <div class="cart-summary-button">#}
{#                                    <a href="{% url 'checkout:index' %}" {% if basket.is_empty %}style="display: none;"{% endif %} >#}
{#                                        <span class="checkout-btn">THANH TOÁN</span>#}
{#                                    </a>#}
{#                                    <button class="update-btn">CẬP NHẬT GIỎ HÀNG</button>#}
{#                                </div>#}
                                <div class="cart-summary-button">
                                    <button class="checkout-btn" onclick="location.href='{% url 'checkout:index' %}'">Đặt hàng</button>
                                    <button class="update-btn" onclick="document.getElementById('basket_formset').submit();">Cập nhật</button>
                                </div>
                            </div>
                            <!--=======  End of Cart summery  =======-->
                        </div>

                    </div>

                </div>
            </div>
        </div>
    </div>