{% load i18n %}
{% load static %}
{% load currency_filters %}
{% load purchase_info_tags %}
{% load widget_tweaks %}
<div class="quick-cart mb-2">
    {% comment %}{% purchase_info_for_line request line as session %}{% endcomment %}
    <div class="title-box d-flex align-items-center">
        <span class="text-uppercase">Đơn hàng:</span>
        <span class="total-in-cart ml-2 mr-2">(gồm {{ request.basket.num_lines }} sản phẩm)</span>
        {% block order_contents_actions %}
            <a href="{% url 'basket:summary' %}" style="font-size: 15px;">
                <i class="fa fa-pencil-square-o"></i>
                <span>{% trans "Sửa" %}</span>
            </a>
        {% endblock %}
    </div>

    <div class="list-in-cart" data-scrollable="true" data-max-height="300">
        {% for line in basket.all_lines %}
            {% purchase_info_for_line request line as session %}
            <div class="item">
                <div class="content-p-cart ">
                    <div class="info-item d-flex">
                        <div class="col-6 pl-0">
                            <div class="head-item">
                                {% trans "Tên sản phẩm" %}
                            </div>
                            <div class="value-item">
                                <a class="name" href="{{ line.product.get_absolute_url }}">
                                    {{ line.description }}
                                </a>
                            </div>
                        </div>
                        <div class="col-2 pl-0">
                            <div class="head-item">
                                {% trans "SL" %}
                            </div>
                            <div class="value-item">
                                {{ line.quantity }}
                            </div>
                        </div>
                        <div class="col-4 pl-0 pr-0">
                            <div class="head-item">
                                {% trans "Giá" %}
                            </div>
                            <div class="value-item">
                                {% if not show_tax_separately and line.is_tax_known %}
                                    {{ line.line_price_incl_tax|currency:basket.currency }}
                                {% else %}
                                    {{ line.line_price_excl_tax|currency:basket.currency }}
                                {% endif %}
                            </div>
                        </div>
                    </div>
                    <div class="ship-info d-flex">
                        <div class="badge-deliver">
                            Vận chuyển theo tiêu chuẩn
                        </div>
                        <div class="ml-auto mr-4">
                            2-8 Ngày
                        </div>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
</div>