{% extends "binhphuoc/layout_2_col.html" %}
{% load i18n %}
{% load static %}
{% load thumbnail %}
{% load v_display_tags %}
{% load category_tags %}
{% load widget_tweaks %}

{% block title %}
    {{ category.name }} | {{ block.super }}
{% endblock %}

{% block description %}
    {{ category.description|default:""|striptags }}
{% endblock %}
{% block headertext %}{{ category.name }}{% endblock %}
{% block extrastyles %}
    <link href="{% static "binhphuoc/css/flexslider.css" %}" rel="stylesheet">
{% endblock %}

{% block breadcrumbs %}
    <ul class="u-list-inline">
        <li class="list-inline-item g-mr-7">
            <a class="u-link-v5 g-color-main" href="{{ homepage_url }}">{% trans "Home" %}</a>
            <i class="fa fa-angle-right g-ml-7"></i>
        </li>
        <li class="list-inline-item g-mr-7">Tất cả sản phẩm</li>
    </ul>
{% endblock %}

{% block main_content %}
    <div class="main-wrapper mb-5 container">
        <div class="row">
            <!-- BEGIN FILTER -->
            <div class="col-md-3 g-pa-0">
                {% category_tree depth=1 as tree_categories %}
                {% if tree_categories %}
                    {% for tree_category,info in tree_categories %}
                        <div class="shop-category">
                            <div class="title-box text-uppercase text-center">{{ session.stockrecord.partner.get_absolute_url }}
                                <a href="{{ tree_category.get_absolute_url }}">{{ tree_category.name }}</a>
                            </div>
                            {% if  tree_category.get_active_children %}
                                <div class="list-cat" id="shop-category">
                                    {% for subcategory in tree_category.get_active_children %}
                                        <ul>
                                            {% if subcategory.pk == category.pk %}
                                                <li>{{ subcategory.name }}</li>
                                            {% else %}
                                                <li>
                                                    <a href="{{ subcategory.get_absolute_url }}">{{ subcategory.name }}</a>
                                                </li>
                                            {% endif %}
                                        </ul>
                                    {% endfor %}
                                </div>
                            {% endif %}
                        </div>
                    {% endfor %}
                {% endif %}
            </div>
            <!-- END FILTER -->
            <div class="col-md-9">
                <form method="get" class="form-horizontal" action=".">
                    <div class="col-md-12 pl-0">
                        <div class="text-small">
                            {% if paginator.count %}
                                {% if paginator.num_pages > 1 %}
                                    (
                                    {% blocktrans with start=page_obj.start_index end=page_obj.end_index count num_results=paginator.count %}
                                        <strong>{{ num_results }}</strong> sản phẩm - hiển thị từ  sản phẩm
                                        <strong>{{ start }}</strong> đến <strong>{{ end }}</strong>.
                                    {% plural %}
                                        <strong>{{ num_results }}</strong> sản phẩm - hiển thị từ  sản phẩm
                                        <strong>{{ start }}</strong> đến <strong>{{ end }}</strong>.
                                    {% endblocktrans %}
                                    )
                                {% else %}
                                    (
                                    {% blocktrans count num_results=paginator.count %}
                                        <strong>1</strong> sản phẩm.
                                    {% plural %}
                                        <strong>{{ num_results }}</strong> sản phẩm.
                                    {% endblocktrans %}
                                    )
                                {% endif %}
                            {% else %}
                                <p>
                                    {% trans "<strong>0</strong> results." %}
                                </p>
                            {% endif %}
                        </div>
                        {% if form %}
                            <div class="sortby_list">
                                {% include "binhphuoc/partials/sortby_form_field.html" with field=form.sort_by %}
                                {% for field in form %}
                                    {% if field.value and field.html_name != 'sort_by' %}
                                        {% render_field field class+="hidden_field" %}
                                    {% endif %}
                                {% endfor %}
                            </div>
                        {% endif %}
                    </div>
                </form>
                {% if products %}
                    <div class="products-in-category">
                        <ul class="list-products row d-inline-flex h-100 w-100">
                            {% for product in products %}
                                <li class="p-item">
                                    {% include "binhphuoc/catalogue/partials/product_category_170x257.html" %}
                                </li>
                            {% endfor %}
                        </ul>
                        {% paginator 2 "binhphuoc/partials/pagination.html" %}
                    </div>
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}
