{% extends "binhphuoc/layout_2_col.html" %}
{% load i18n %}
{% load static %}
{% load thumbnail %}
{% load i18n %}
{% load v_display_tags %}
{% load category_tags %}
{% load widget_tweaks %}
{% load reviews_tags %}
{% load currency_filters %}
{% load purchase_info_tags %}

{% block title %}
    {{ category.name }} | {{ block.super }}
{% endblock %}

{% block description %}
    {{ category.description|default:""|striptags }}
{% endblock %}
{% block headertext %}{{ category.name }}{% endblock %}
{% block extrastyles %}
    <link href="{% static "binhphuoc/css/flexslider.css" %}" rel="stylesheet">
{% endblock %}

{% block breadcrumbs %}
    {% for category in category.get_ancestors_and_self %}
        <li>
            <a href="{{ category.get_absolute_url }}">{{ category.name }}</a>
            {% if not forloop.last %}
                <i class="fa fa-angle-right g-ml-7"></i>
            {% endif %}
        </li>
    {% endfor %}
{% endblock %}

{% block main_content %}
    <div class="shop-page-container mb-50">
		<div class="container">
			<div class="row">
				<div class="col-lg-3 order-2 order-lg-1">
					<!--=======  sidebar area  =======-->

					<div class="sidebar-area">
						<!--=======  single sidebar  =======-->
						<div class="sidebar mb-35">
							<h3 class="sidebar-title">DANH MỤC SẢN PHẨM</h3>
							<ul class="product-categories">
                                {% for category in category.get_descendants_and_self %}
                                <li>
                                    <a href="{{ category.get_absolute_url }}">{{ category.name }}
                                        ({{ category.get_total_num_products }})</a>
                                </li>
                              {% endfor %}
							</ul>
						</div>
						<!--=======  End of single sidebar  =======-->

                        <!--=======  single sidebar  =======-->

						<div class="sidebar mb-35">
							<h3 class="sidebar-title">Sản phẩm bán chạy</h3>

							<!--=======  top rated product container  =======-->

							<div class="top-rated-product-container">
                                {% for product in best_selling_product %}
								<!--=======  single top rated product  =======-->

								<div class="single-top-rated-product d-flex align-content-center">
									<div class="image">
										<a href="{{ product.get_absolute_url }}" >
                                        {% with image=product.primary_image %}
                                            {% if image %}
                                                {% thumbnail image.original "350x350" crop='center' upscale=True  padding=True as thumb %}
                                                    <img class="img-fluid" src="{{ thumb.url }}">
                                                {% endthumbnail %}
                                                {% else %}
                                                <img class="img-fluid" src="{% static "binhphuoc/images/products/products01.jpg" %}">
                                            {% endif %}
                                        {% endwith %}
										</a>
									</div>
									<div class="content">
										<p>
                                            <a href="{{ product.get_absolute_url }}"
                                               title="{{ product.get_title }} | {{ session.stockrecord.partner }}">
                                                {{ product.get_title|truncatewords:8|lower }}
                                            </a>
                                        </p>
										<p class="product-rating {{ product.rating|as_stars }}">
											<i class="fa fa-star {% if  1 <= product.rating %} active{% endif %}"></i>
											<i class="fa fa-star {% if  2 <= product.rating %} active{% endif %}"></i>
											<i class="fa fa-star {% if  3 <= product.rating %} active{% endif %}"></i>
											<i class="fa fa-star {% if  4 <= product.rating %} active{% endif %}"></i>
											<i class="fa fa-star {% if  4 <= product.rating %} active{% endif %}"></i>
										</p>

										<p class="product-price">
                                            {% if session.price.exists %}
                                                {% if session.price.excl_tax == 0 %}
                                                    <span class="discounted-price">{% trans "Liên hệ" %}</span>
                                                {% elif session.price.is_tax_known %}
                                                    <span class="discounted-price">
                                                                {{ session.price.incl_tax|currency:session.price.currency }}
                                                            </span>
                                                {% else %}
                                                    <span class="discounted-price">
                                                                {{ session.price.excl_tax|currency:session.price.currency }}
                                                            </span>
                                                {% endif %}
                                            {% else %}
                                                <span class="discounted-price">&nbsp; </span>
                                            {% endif %}

										</p>
									</div>
								</div>

								<!--=======  End of single top rated product  =======-->
								{% endfor %}

							</div>

							<!--=======  End of top rated product container  =======-->
						</div>

						<!--=======  End of single sidebar  =======-->

					</div>
					<!--=======  End of sidebar area  =======-->
				</div>
				<div class="col-lg-9 order-1 order-lg-2 mb-sm-35 mb-xs-35">


					<!--=======  shop page banner  =======-->
                    {% if category.image %}
					<div class="shop-page-banner mb-35">
						<a href="#">
                            {% thumbnail category.image "870x331" crop='center' upscale='True' as thumb %}
                                <img class="img-fluid" src="{{ thumb.url }}"
                                     alt="">
                            {% endthumbnail %}

						</a>
					</div>
                    {% endif %}

					<!--=======  End of shop page banner  =======-->

					<!--=======  Shop header  =======-->

					<div class="shop-header mb-35">
                    <form method="get">
						<div class="row">
							<div class="col-lg-4 col-md-4 col-sm-12 d-flex align-items-center">
								<!--=======  view mode  =======-->

								<div class="view-mode-icons mb-xs-10">
									<a href="#" data-target="grid"><i class="fa fa-th"></i></a>
									<a class="active" href="#" data-target="list"><i class="fa fa-list"></i></a>
								</div>

								<!--=======  End of view mode  =======-->

							</div>
							<div class="col-lg-8 col-md-8 col-sm-12 d-flex flex-column flex-sm-row justify-content-between align-items-left align-items-sm-center">
								<!--=======  Sort by dropdown  =======-->
                                {% if form %}
                                <div class="sort-by-dropdown d-flex align-items-center mb-xs-10">
                                        {% include "binhphuoc/partials/sortby_form_field.html" with field=form.sort_by %}
                                        {% for field in form %}
                                            {% if field.value and field.html_name != 'sort_by' %}
                                                {% render_field field class+="hidden_field" %}
                                            {% endif %}
                                        {% endfor %}
                                </div>
                                {% endif %}
								<!--=======  End of Sort by dropdown  =======-->
                                {% if paginator.count %}
                                        <p class="result-show-message">
                                        {% if paginator.num_pages > 1 %}
                                            (
                                            {% blocktrans with start=page_obj.start_index end=page_obj.end_index count num_results=paginator.count %}
                                                <strong>{{ num_results }}</strong> sản phẩm - hiển thị từ  sản phẩm
                                                <strong>{{ start }}</strong> đến <strong>{{ end }}</strong>.
                                            {% plural %}
                                                <strong>{{ num_results }}</strong> sản phẩm - hiển thị từ  sản phẩm
                                                <strong>{{ start }}</strong> đến <strong>{{ end }}</strong>.
                                            {% endblocktrans %}
                                            )
                                        {% else %}
                                            (
                                            {% blocktrans count num_results=paginator.count %}
                                                <strong>1</strong> sản phẩm.
                                            {% plural %}
                                                <strong>{{ num_results }}</strong> sản phẩm.
                                            {% endblocktrans %}
                                            )
                                        {% endif %}
                                        </p>
                                    {% else %}
                                        <p class="result-show-message">
                                            {% trans "<strong>0</strong> results." %}
                                        </p>
                                    {% endif %}
							</div>
						</div>
                    </form>
					</div>

					<!--=======  End of Shop header  =======-->

					<!--=======  Grid list view  =======-->

					<div class="shop-product-wrap list row no-gutters mb-35">
                        {% if products %}
                        {% for product in products %}
                            {% include "binhphuoc/catalogue/partials/product_category_350x350.html" %}
                        {% endfor %}
                        {% endif %}
					</div>
					<!--=======  End of Grid list view  =======-->

					<!--=======  Pagination container  =======-->
                    {% paginator 2 "binhphuoc/partials/pagination.html" %}
					<!--=======  End of Pagination container  =======-->

				</div>
			</div>
		</div>
	</div>
{% endblock %}