{% extends "binhphuoc/layout_2_col.html" %}
{% load i18n %}
{% load static %}
{% load thumbnail %}
{% load history_tags %}
{% load v_history_tags %}
{% load currency_filters %}
{% load reviews_tags %}
{% load staticfiles %}
{% load product_tags %}
{% load display_tags %}
{% load purchase_info_tags %}
{% load basket_tags %}
{% load widget_tweaks %}

{% block title %}
    {{ product.title }} | {{ block.super }}
{% endblock %}

{% block description %}
    {{ product.description|default:""|striptags }}
{% endblock %}

{% block breadcrumbs %}
    {% with category=product.categories.all.0 %}
        {% for category in category.get_ancestors_and_self %}
            <li>
                <a class="text-capitalize" href="{{ category.get_absolute_url }}">{{ category.name|lower }}</a>
            </li>
        {% endfor %}
        <li class="active"><a href="{{ product.get_absolute_url }}">{{ product.title }}</a></li>
        {% get_back_button as backbutton %}
        {% if backbutton %}
            <li class="pull-right">
                <a href="{{ backbutton.url }}">
                    <i class="icon-arrow-left"></i> {{ backbutton.title }}
                </a>
            </li>
        {% endif %}
    {% endwith %}
{% endblock %}

{% block main_content %}
    {% purchase_info_for_product request product as session %}
    <div class="single-product-content ">
        <div class="container">
            <div class="single-product-content-container mb-35">
                <div class="row">
                    {% with all_images=product.images.all %}
                        <div class="col-lg-6 col-md-12 col-xs-12">
                            <div class="product-image-slider d-flex flex-custom-xs-wrap flex-sm-nowrap align-items-center mb-sm-35">
                                <div class="product-small-image-list">
                                    <div class="nav small-image-slider-single-product" role="tablist">
                                        {% for image in all_images %}
                                            <div class="single-small-image img-full">
                                                <a data-toggle="tab" id="single-slide-tab-{{ forloop.counter }}"
                                                   href="#single-slide{{ forloop.counter }}">
                                                    {% thumbnail image.original "600x600" padding=True as thumb %}
                                                        <img src="{{ thumb.url }}" class="img-fluid" alt="">
                                                    {% endthumbnail %}
                                                </a>
                                            </div>
                                        {% endfor %}
                                    </div>
                                </div>
                                <div class="tab-content product-large-image-list">
                                {% for image in all_images %}
                                    <div class="tab-pane fade {% if forloop.counter == 1 %}show  active{% endif %}"
                                         id="single-slide{{ forloop.counter }}"
                                         role="tabpanel"
                                         aria-labelledby="single-slide-tab-{{ forloop.counter }}">
                                        <!--Single Product Image Start-->
                                        <div class="single-product-img easyzoom img-full">
                                            {% thumbnail image.original "600x600" padding=True as thumb %}
                                                <img src="{{ thumb.url }}" class="img-fluid" alt="">
                                                <a href="{{ thumb.url }}" class="big-image-popup"><i
                                                        class="fa fa-search-plus"></i></a>
                                            {% endthumbnail %}
                                        </div>
                                        <!--Single Product Image End-->
                                    </div>
                                {% endfor %}
                                </div>
                            </div>
                        </div>
                    {% endwith %}
                    <div class="col-lg-6 col-md-12 col-xs-12">
                        <!-- product quick view description -->
                        <div class="product-feature-details">
                            <h2 class="product-title mb-15">
                                <a class="text-capitalize" href="{{ product.get_absolute_url }}">{{ product.title }}</a>
                                {% if user.is_authenticated and user.is_staff %}
                                    <a href="{% url 'dashboard:catalogue-product' pk=product.id %}">
                                        <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
                                    </a>
                                {% endif %}
                            </h2>

                            <p class="product-rating {{ product.rating|as_stars }} m-0">
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                {% if product.calculate_rating %}
                                    <a href="#">({{ product.calculate_rating|floatformat:1 }}*)</a>
                                {% else %}
                                    <a href="#">(0*)</a>
                                {% endif %}
                            </p>
                            {% block product_review %}
                                {% iffeature "reviews" %}
                                    {% if product.num_approved_reviews %}
                                        <div class="one-space"></div>
                                        <a href="{% url 'catalogue:reviews-list' product_slug=product.slug product_pk=product.id %}">
                                            Có {{ product.num_approved_reviews }} đánh giá
                                        </a>
                                        {% if product|is_review_permitted:user %}
                                            <i class="summary-divider"></i>
                                            {% url 'catalogue:reviews-add' product_slug=product.slug product_pk=product.id as add_review_url %}
                                            <a href="{{ add_review_url }}#addreview">{% trans "Đánh giá ngay" %}</a>
                                        {% else %}
                                            <span>- Cám ơn bạn đã đóng góp ý kiến</span>
                                        {% endif %}
                                    {% else %}
                                        <span>Chưa có đánh giá</span>
                                        <i class="summary-divider"></i>
                                        <a href="{% url 'catalogue:reviews-add' product_slug=product.slug product_pk=product.id %}#addreview">
                                            {% trans "Đánh giá ngay" %}</a>
                                    {% endif %}
                                {% endiffeature %}
                            {% endblock product_review %}
                            <div class="fb-share-button" data-href="{{ product.get_absolute_url }}"
                                 data-layout="button_count" data-size="small" data-mobile-iframe="true">
                                <a class="fb-xfbml-parse-ignore" target="_blank"
                                   href="https://www.facebook.com/sharer/sharer.php?u={{ product.get_absolute_url }}">
                                    Chia sẻ
                                </a>
                            </div>

                            <h2 class="product-price mb-15">
                                    <span class="discounted-price">
                                        {% if session.price.exists %}
                                            {% if session.price.excl_tax == 0 %}
                                                {% trans "Liên hệ" %}
                                            {% elif session.price.is_tax_known %}
                                                {{ session.price.incl_tax|currency:session.price.currency }}
                                            {% else %}
                                                {{ session.price.excl_tax|currency:session.price.currency }}
                                            {% endif %}
                                        {% else %}
                                            {% trans "Liên hệ" %}
                                        {% endif %}
                                    </span>
                            </h2>

                            <p class="product-description mb-20">{{ product.short_description|safe }}</p>

                            <div class="cart-buttons mb-20">
                                {% if session.price.excl_tax %}
                                    {% if session.availability.is_available_to_buy %}
                                        {% basket_form request product 'single' as basket_form %}
                                        <form id="add_to_cart_form" action="{% url 'basket:add' pk=product.pk %}" method="post">
                                            {% csrf_token %}
                                            <div class="pro-qty mr-20 mb-xs-20">
                                                {{ basket_form.quantity|attr:"type:text" }}
                                                {{ basket_form.product_id }}
                                            </div>
                                            <div class="add-to-cart-btn">
                                                    <a href="#" onclick="document.getElementById('add_to_cart_form').submit();">
                                                        <i class="fa fa-shopping-cart"></i>
                                                        {% trans "Thêm vào giỏ hàng" %}
                                                    </a>
                                            </div>
                                        </form>
                                    {% else %}
                                        <span class="btn btn-circle text-uppercase disabled">{% trans "Hết hàng" %}</span>
                                    {% endif %}
                                {% else %}
                                    <a class="btn btn-circle text-uppercase" href="#">
                                        {% trans "Liên hệ" %}
                                    </a>
                                {% endif %}
                            </div>

                            <div class="single-product-category mb-20">
                                <h3>Gian hàng: <span>
                                    <a href="{{ session.stockrecord.partner.get_absolute_url }}">
                                        {{ session.stockrecord.partner }}</a></span>
                                </h3>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="single-product-tab-section mb-35">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="tab-slider-wrapper">
                        <nav>
                            <div class="nav nav-tabs" id="nav-tab" role="tablist">
                                <a class="nav-item nav-link active" id="description-tab" data-toggle="tab"
                                   href="#description"
                                   role="tab"
                                   aria-selected="true">Chi tiết sản phẩm</a>
{#                                <a class="nav-item nav-link" id="features-tab" data-toggle="tab"#}
{#                                   href="#features"#}
{#                                   role="tab"#}
{#                                   aria-selected="false">Thuộc tính sản phẩm</a>#}
{#                                <a class="nav-item nav-link" id="review-tab" data-toggle="tab" href="#review"#}
{#                                   role="tab"#}
{#                                   aria-selected="false">Đánh giá</a>#}
                            </div>
                        </nav>
                        <div class="tab-content" id="nav-tabContent">
                            <div class="tab-pane fade show active" id="description" role="tabpanel"
                                 aria-labelledby="description-tab">
                                <p class="product-desc">
                                {{ product.description|safe }}
                                </p>
                            </div>
                            <div class="tab-pane fade" id="features" role="tabpanel" aria-labelledby="features-tab">
                                {% if product.attribute_values.all %}
                                    <table class="table-data-sheet">
                                        {% for av in product.attribute_values.all %}
                                            <tbody>
                                            <tr class="{% if forloop.counter|divisibleby:"2" %}even{% else %}odd{% endif %}">
                                                <th>{{ av.attribute.name }}</th>
                                                <td>{{ av.value_as_html }}</td>
                                            </tr>
                                            </tbody>
                                        {% endfor %}
                                    </table>
                                {% endif %}
                                </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="slider related-product-slider mb-35">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">

                    <div class="section-title">
                        <h3>Sản phẩm của shop</h3>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <div class="related-product-slider-wrapper">
                        {% for product in prds %}
                            {% include "binhphuoc/catalogue/partials/product_category_170x257.html" %}
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block extrascripts %}
    <div id="fb-root"></div>
    <script>(function (d, s, id) {
        var js, fjs = d.getElementsByTagName(s)[0];
        if (d.getElementById(id)) return;
        js = d.createElement(s);
        js.id = id;
        js.src = 'https://connect.facebook.net/vi_VN/sdk.js#xfbml=1&version=v2.12&appId=143394342996565&autoLogAppEvents=1';
        fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));
    </script>
{% endblock %}