{% extends "customer/emails/base.html" %}
{% load currency_filters i18n %}

{% block body %}<p xmlns="http://www.w3.org/1999/html">Gửi quý doanh nghiệp,</p>

<p>{% blocktrans with order_number=order.number %}Đã có đơn hàng {{ order_number }} được khách hàng đặt hàng.
    Đề nghị quý doanh nghiệp liên hệ và xử lý đơn đặt hàng của khách hàng.
{% endblocktrans %}</p>

<p>{% trans 'Your order contains:' %}</p>

<ul>
    {% for line in lines %}
    <li>{{ line.title }} - {%  trans 'quantity:' %} {{ line.quantity }} - {% trans 'price:' %} {{ line.line_price_incl_tax|currency:order.currency }}</li>
    {% endfor %}
</ul>

<p>{% trans 'Shipping address:' %}</p>
<p>{% for field in order.shipping_address.active_address_fields %}  {{ field }}<br/>
{% endfor %}</p>

{% endblock %}
